@import "../var";

.__page-nav {
    background: #121212;
    padding-top: __to_rem(80px, $font-size-base);
    padding-bottom: 0;
    overflow: hidden;

    .__col__ {
        flex: 1 0;
    }
    .__link {
        display: block;
        flex: 1;
        border-radius: __to_rem(8px, $font-size-base);
        isolation: isolate;
        overflow: hidden;
        position: relative;

        .__bg {
            position: relative;
           .__img {
               img {
                   display: block;
                   width: 100%;
                   object-fit: cover;
               }
           }

            .__video {
                @include fullsize;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 400ms;
                will-change: opacity;
                video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }

            &:after {
                @include dimmed(28,156,158);
                top: auto;
                height: 66%;
            }
       }

        &.__b2 {
            .__bg {
                &:after {
                    @include dimmed(19,106,164);
                }
            }
        }

        &.__b3 {
            .__bg {
                &:after {
                    @include dimmed(142, 31, 255);
                }
            }
        }
        &.__b4 {
            .__bg {
                &:after {
                    @include dimmed(86,163,17);
                }
            }
        }

        h4 {
            @include position_xy;
            color: #fff;
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:after {
                display: block;
                background: url(../../img/icon/arrow-right.svg) 50% 50% no-repeat;
                background-size: contain;
                content: '';
                @include __wh_to_em(21px, 21px, 24px);
                margin-left: __to_em(10px, 24px);
                transition: transform 300ms ease-out;
                will-change: transform; 
            }

        }

        @media (hover: hover), (-ms-high-contrast:none) {
            &:hover {
                h4:after {
                    transform: translateX(__to_em(4px, 27px));
                }
                .__bg {
                    .__video {
                        opacity: 1;
                        visibility: visible;

                    }
                }
            }
        }

        &.__outlink {
            h4:after {
                background-image: url(../../img/icon/outlink.svg);
                @include __wh_to_em(20px, 20px, 24px);
            }
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        padding-top: 40px;
    }

    @media screen and (max-width: $breakpoint-mobile - 1px) {
        .__grid__ {
            flex-wrap: wrap;
            .__col__ {
                flex: 0 1 50%;
                width: 50%;
            }
            &.__reverse-direction-when-mobile{
                flex-direction: row-reverse;
            }
        }
        
        .__hide-when-mobile {
            display: none !important;
        }

        .__link {
      
            .__bg {
                .__img {
                    img {
                        width: 100%;
                        height: __to_vw(162px, $content-box-mobile-width);
                    }
                }
            }
        }
    }
}