@import "../var";

#homeEsgActivity {
    .__grid__ {
        flex-direction: column;
    }

    .__extra {
        .__grid__ {
            flex-direction: row;
            .__col__:first-child {
                flex: 1;
            }
            .__col__:last-child {
                flex: 3;
            }
        }
    }

    .container-boxed {
        .__extra {
            .__grid__ {

                //.__col__:first-child {
                //    max-width: 428px;
                //}

            }
        }

    }

    .__esg-item {
        position: relative;
        border-radius: __to_rem(8px, $font-size-base);
        overflow: hidden;
        isolation: isolate;
        height: __to_vw(680px, 1920px);
        max-height: 680px;
        .__bg {
            position: relative;
            height: 100%;
            transition: transform 1000ms $easeOutQuint;
            will-change: transform;
            &:after {
                @include dimmed;
                height: auto;
                top: 30%;
                transition: top 1000ms $easeOutQuint, opacity 1000ms;
                will-change: top, opacity;
            }
            img,
            video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            video {
                @include position_xy;
            }
        }

        .__desc {
            position: absolute;
            left: __to_rem(40px, $font-size-base);
            right: __to_rem(40px, $font-size-base);
            bottom: __to_rem(40px, $font-size-base);
            word-break: keep-all;
        }

        .__video-controls {
            position: absolute;
            right: __to_rem(40px, $font-size-base);
            bottom: __to_rem(40px, $font-size-base);
            z-index: 4;
        }

        @media (hover: hover), (-ms-high-contrast:none) {
            &.__active,
            &:hover {
                .__bg {
                    &:after {
                        opacity: 1;
                        top: 0;
                    }
                }

                .__bg[data-type="image"] {
                    transform: scale(1.075);
                }

                .__cta {
                    height: auto;
                    max-height: __to_rem(95px, $font-size-base);
                    .__btn {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }

            }

            .__btn-invisible {
                display: none;
                @media screen and (max-width: $breakpoint-tablet) {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    #homeEsgActivity {

        .__esg-item {


            .__desc {
                left: __to_rem(24px, $font-size-min);
                right: __to_rem(24px, $font-size-min);
                bottom: __to_rem(24px, $font-size-min);

                max-width: 51.2vw;
            }

            .__video-controls {
                right: __to_rem(24px, $font-size-min);
                bottom: __to_rem(24px, $font-size-min);
            }


        }


    }
}

@media screen and (max-width: $breakpoint-mobile) {
    #homeEsgActivity {
        .__extra {
            .__grid__ {
                flex-direction: column;
                .__col__ {
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
        }

        .__esg-item {

            height: __to_vw(400px, 385px);
            max-height: 450px !important;

            .__bg {
                height: __to_vw(400px, 385px);
                max-height: 450px !important;
            }



        }
    }
}

