@import "../var";

#homeInvestorRelations {
    margin-bottom:  0;
    padding-bottom:  __to_rem(80px, $font-size-base);

    @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom:  0;
        padding-bottom:  __to_rem(48px, $font-size-min);
    }

    @media screen and (max-width: $breakpoint-mobile) {
        .__grid__ {
            flex-direction: column;
        }
    }
    .__col__ {
        flex: 1;

    }

    .__link-item {
        flex: 1;
        display: flex;
        align-items: center;
        border: 1px solid #E5E5E5;
        font-size: __to_rem(22px, $font-size-base);
        border-radius: __to_rem(8px, $font-size-base);
        isolation: isolate;
        height: __to_em(136px, 22px);
        padding-left: __to_em(56px, 22px);
        padding-right: __to_em(56px, 22px);


        transition: color 400ms ease, border-color 400ms ease;
        will-change: color, border-color;

        .__label {
            font-weight: 700;
            display: flex;
            align-items: center;
            flex: 1;
            line-height: 2;
            i {
                display: block;

                margin-left: __to_em(6px, 22px);
                transition: transform 300ms ease-out;
                will-change: transform;
                svg {
                    display: block;
                    width: __to_em(16px, 22px);
                    height: __to_em(16px, 22px);
                    path {
                        transition: fill 400ms ease;
                        will-change: fill;
                        color: #222;
                    }
                }
            }
        }
        .__icon {
            margin-left: auto;
            display: block;
            img {
                display: block;
                @include __wh_to_em(64px, 64px, 22px);
            }
        }


        @media screen and (max-width: $breakpoint-tablet) {
            font-size: __to_rem(16px, $font-size-min);
            padding-left: __to_em(24px, 16px);
            padding-right: __to_em(24px, 16px);
            height: __to_em(96px, 16px);
            .__icon {
                img {
                    display: block;
                    @include __wh_to_em(48px, 48px, 16px);
                }
            }
        }

        @media screen and (max-width: $breakpoint-mobile) {


            height: __to_em(110px, 16px);
            flex: initial;

        }

        @media (hover: hover), (-ms-high-contrast:none) {
            &.__active,
            &:hover {
                border-color: $color-primary;
                color: $color-primary;
                .__label i {
                    transform: translateX(__to_em(4px, 22px));
                    svg {
                        path {
                            fill: $color-primary
                        }
                    }
                }
            }
        }
    }

}