a:link {
    color: #83807d;
    text-decoration: none
}

a:visited {
    color: #83807d;
    text-decoration: none
}

a:hover {
    color: #83807d;
    text-decoration: underline
}

a:active {
    color: #ff0000;
    text-decoration: none
}

form {
    margin: 0;
}

p {
    margin-top: 0px;
    margin-bottom: 0px
}

td,
table {
    font-size: 12px;
    color: #847f74;
    line-height: 160%;
    font-family: verdana;
}

.select {
    font-size: 9pt;
    font-family: "굴림", "돋움";
    color: #666666;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.input {
    border: 0px;
    font-size: 9pt;
    font-family: "굴림", "돋움";
    color: #545454;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.search_input {
    font-size: 12px;
    color: #847f74;
    font-family: "굴림";
    border: #cfcfcf 1px solid;
    background-color: #ffffff;
}