@import "../var";

#environmentTop {
  display: block;
  .__page-title{ 
    .__slogan{
      .__sub-headline3{
        padding-bottom: __to_em(26px, $font-size-base);
        letter-spacing: __to_rem(2.2px, $font-size-base);
      }
    }
    strong{
      padding-right: __to_rem(5px, $font-size-base);
    }
  }
}

#environmentMotion{
  .__motion-area{
    .__motion-area-inner {
      position: relative;
      height: 100vh;
    }
    .__bgs{
      @include position_xy;
      width: 100vw;
      height: calc(100vh - 140px);
      .container {
        height: 100%;
      }
      .__bg-inner {
        position: relative;
        height: 100%;
        width: 100%;
      }
      .__bg {
        @include position_xy;
        width: 100%;
        height: 100%;
        border-radius: __to_rem(8px, $font-size-base);
        isolation: isolate;
        overflow: hidden;
        .__back {
          @include fullsize();
          transform: scale(1.01) translate3d(0, 0, 0);
          background: 50% 50% no-repeat;
          background-size: cover;
          opacity: 0;
          &.__b1{
            opacity: 1;
            background-size: auto 110vh;
          }
        }
      }
    }
  }
  .__title-area {
    @include position_xy;
    text-transform: uppercase;
    width: 100vw;
    .__title-lists {
      position: relative;
      .__title-list {
        @include position_xy;
        width: 100%;
        text-align: center;
        .__title {
          opacity: 0;
          color: #fff;
          @media screen and (max-width: $breakpoint-mobile) {
            .m_block{
              display: block;
            }
          }
        }
      }
    }
  }
  .__motion.__gallery {
    height: 300vh;
  }
}
#environmentMidtext1, #environmentMidtext2, #societyMidtext1, #societyMidtext2 {
  height: 200vh;
  @media screen and (max-width: $breakpoint-mobile) {
    height: auto;
    margin:  __to_rem(140px, $font-size-base) 0;
  }
  .__sub-title{
    line-height: 1.5em;
  }
}
.__environment-title {
  position: relative;
  @media screen and (max-width: $breakpoint-mobile) {
    height: auto;
  }
  .__motion-area{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    @media screen and (max-width: $breakpoint-mobile) {
      height: auto;
      margin: 0 __to_rem(8px, $font-size-base);
    }
  }
  .section-title {
    width: 100%;
    max-width:1280px;
    margin:0 auto;
    text-align: center;
    z-index: -1;
    .__title {
      margin-bottom: __to_rem(56px, $font-size-base);
      @media screen and (max-width: $breakpoint-mobile) {
        margin-bottom: __to_rem(32px, $font-size-base);
      }
      .__description {
        word-break: keep-all;
      } 
    }
    .__sub-title{
      // line-height: 1.5em;
      word-break: keep-all;
      &+.__sub-title {
        margin-top: __to_rem(40px, $font-size-base);
      }
    }
    .pc_block{
      display: block;
      @media screen and (max-width: $breakpoint-mobile){
        display: inline;
      }
    }
    .sm_block{
      display: inline;
      @media screen and (max-width: $breakpoint-mobile) and (min-width: 375px){
        display: block;
      }
    }
  }
}

.__sliding-section{
  margin-top: -50vh !important;
  @media screen and (max-width: $breakpoint-mobile) {
    margin-top: 0 !important;
  }
  .__motion-area{
    display: flex;
    @media screen and (max-width: $breakpoint-mobile) {
      display: block;
    }
    .order_1{order: 1;}
    .order_2{order: 2;}
    .__img-area{
      width: 50%;
      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
      .__imgs{
        position: relative;
        li{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          opacity: 0;
          display: flex;
          align-items: center;
          img{
            max-width: 100%;
            width: 100%;
            border-radius: __to_rem(8px, $font-size-base);
          }
          &:first-child{opacity: 1;}
        }
      }
    }
    .__text-area{
      width: 50%;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
      }
      .__text-block{
        position: relative;
        height: 180vh;
        padding-left: __to_rem(160px, $font-size-base);
        box-sizing: border-box;
        @media screen and (max-width: $breakpoint-mobile) {
          height: 100%;
          padding-left: 0;
          &+.__text-block{
            margin-top: __to_rem(80px, $font-size-base)
          }
        }
        .__text-motion{
          @include position_y;
          padding-right: __to_rem(240px, $font-size-base);
          @media screen and (max-width: $breakpoint-mobile) {
            position: relative;
            top: 0;
            left: 0;
            transform: translateY(0);
            padding-right: 0;
          }
          .img-box{
            @media screen and (max-width: $breakpoint-mobile) {
              margin-bottom: __to_rem(40px, $font-size-base);
            }
            img{
              display: none;
              @media screen and (max-width: $breakpoint-mobile) {
                display: block;
                border-radius: __to_rem(4px, $font-size-base);
              }
              &+img{
                @media screen and (max-width: $breakpoint-mobile) {
                  margin-top: __to_rem(10px, $font-size-base);
                }
              }
            }
          }
          .__headline4{
            margin-bottom: __to_rem(56px, $font-size-base);
            word-break: keep-all;
            @media screen and (max-width: $breakpoint-mobile) {
              margin-bottom: __to_rem(32px, $font-size-base);
            }
          }
        }
        .pc_block{
          display: block;
          @media screen and (max-width: $breakpoint-mobile) {
            display: inline-block;
          }
        }
      }
    }
  }
}

.__environment-img{
  margin-top: -70vh !important;
  @media screen and (max-width: $breakpoint-mobile) {
    margin-top: 0 !important;
  }
  .__imgs{
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
    @media screen and (max-width: $breakpoint-mobile) {
      display: block;
      margin-right: 0;
      margin-left: 0;
    }
    .__img-box{
      flex:1;
      width: 50%;
      padding: 0 8px;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
        padding: 0;
      }
      &.__left{
        @media screen and (max-width: $breakpoint-mobile) {
          padding-right: __to_rem(55px, $font-size-base);
          box-sizing: border-box;
        }
      }
      &.__right{
        position: relative;
        margin-top: __to_rem(360px, $font-size-base);
        @media screen and (max-width: $breakpoint-mobile) {
          margin-top: __to_rem(10px, $font-size-base);
          padding-left: __to_rem(55px, $font-size-base);
          box-sizing: border-box;
        }
      }
      img{
        width: 100%;
        border-radius: __to_rem(8px, $font-size-base);
      }
    }
  }
}

.__esg-report-link{
  .bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: __to_rem(220px, $font-size-base) 0;
    border-radius: __to_rem(8px, $font-size-base);
    @media screen and (max-width: $breakpoint-mobile) {
      padding: __to_rem(133px, $font-size-base) 0;
      background-position: 60%
    }
    .__motion-area{ 
      opacity: 0;  
      .__headline6{
        margin-bottom: __to_rem(56px, $font-size-base);
        padding: 0 __to_rem(25px, $font-size-base);
        text-align: center;
        color: #fff;
        line-height: 1.5em;
        word-break: keep-all;
        @media screen and (max-width: $breakpoint-mobile) {
          font-size: __to_rem(18px, $font-size-min);
          line-height: __to_rem(26px, $font-size-min);
        }
      }
      .__link-area{
        width: 288px;
        max-width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        @media screen and (max-width: $breakpoint-mobile) {
          padding: 0 __to_rem(30px, $font-size-base) ;
        }
        @media screen and (max-width: 350px) {
          padding: 0 __to_rem(25px, $font-size-base);
        }
      }
    }
    .pc_block{
      display: block;
      @media screen and (max-width: $breakpoint-mobile){
        display: inline;
      }
    }
    .sm_block{
      display: inline;
      @media screen and (max-width: $breakpoint-mobile) and (min-width: 375px){
        display: block;
      }
    }
  }
}