@import "../var";

#homeNewsroom {
   .__box {
       background: $color-primary;
       color: #fff;
       border-radius: __to_rem(8px, $font-size-base);
       overflow: hidden;
       isolation: isolate;
       padding: __to_rem(90px, $font-size-base) __to_rem(80px, $font-size-base);
       //min-height: __to_rem(500px, $font-size-base);
       position: relative;

       .__newsroom-header {
           margin-bottom: __to_rem(50px, $font-size-base);
           display: flex;
           font-size: __to_rem(15px, $font-size-base);
           .__category-filter {

               position: relative;
               flex: 1;
               &:after {
                   position: absolute;
                   background: linear-gradient(to right, rgba(20, 40, 160, 0), #1428A0);
                   width: 3em;
                   top: -1px;
                   bottom: -1px;
                   content: '';
                   right: -3em;
                   z-index: 3;
               }
               &:before {
                   position: absolute;
                   background: #1428A0;
                   width: 20em;
                   top: -1px;
                   bottom: -1px;
                   content: '';
                   left: calc( 100% + 3em);
                   z-index: 3;
               }
               .swiper {
                   overflow: visible;
                   margin: 0  __to_rem(-6px, $font-size-base);
               }
               .swiper-wrapper {
                   .swiper-slide {
                       width: auto !important;
                       .__filter-item {
                           padding: 0  __to_rem(6px, $font-size-base);
                       }
                   }
               }
               a {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border-radius: __to_rem(8px, $font-size-base);
                   min-width: __to_rem(64px, $font-size-base);
                   height: __to_rem(64px, $font-size-base);
                   box-sizing: border-box;
                   border: 1px solid #3A4FD1;
                   padding: 0 __to_rem(24px, $font-size-base);
                   transition: background-color 300ms ease, color 300ms ease;
                   will-change: background-color, color;
                   &.__active {
                       font-weight: 700;
                       background: #fff;
                       border-color: #fff;
                       color: #1428A0;
                   }
               }
           }

           .__controls {
               margin-left: auto;
               display: flex;
               padding-left: __to_rem(16px, $font-size-base);
               position: relative;
               z-index: 3;
               a {
                   margin-left: __to_rem(12px, $font-size-base);
               }
           }
       }

       .__newsroom-body {
           .__controls {
               display: none;
               margin-top: __to_rem(40px, $font-size-base);


           }
           .__pagination {

               background: rgba(255,255,255,.3);
               border-radius: 0;
               display: flex;
               height: 3px;

               position: relative;

               .swiper-pagination-progressbar-fill {
                   background: #fff;
               }

           }
       }

       .__newsroom-posts {
           margin: __to_rem(-40px, $font-size-base);
           position: relative;
           .__title-bg {
               @include position_y;
               left: 0;
               .__txt {
                   display: flex;
                   flex-wrap: nowrap;
                   color: #273BBA;
                   font-size: __to_rem(280px, $font-size-base);
                   font-weight: 400;
                   letter-spacing: 0;

                   position: relative;
                   left: 0;
                   top: 0;
                   animation: title-bg-scroll 50s infinite linear;
               }
           }

           .swiper {
               overflow: visible;

               .swiper-slide {

                   width: auto !important;
               }
           }
           
           .__item-group {
               display: flex;
           }


       }

       word-break: keep-all;

       .__newsroom-post-item {
           position: relative;
           width: __to_rem(430px, $font-size-base);
           height: __to_rem(430px, $font-size-base);
           transform-style: preserve-3d;
           perspective: 1500px;
           padding: __to_rem(40px, $font-size-base);
           @media (hover: hover), (-ms-high-contrast:none) {
               &.__flip:hover {
                   .__card {
                       transform: rotateY(-180deg);
                   }
                   .__card.__back {
                       transform: rotateY(0deg);
                   }
               }
           }


           .__item-inner {
               width: 100%;
               height: 100%;
               position: relative;
               display: block;
               transform-style: preserve-3d;
               perspective: 1500px;
               cursor: pointer;
           }

           .__card {
               height: 100%;
               border-radius: __to_rem(8px, $font-size-base);
               overflow: hidden;
               position: relative;
               backface-visibility: hidden;
               transition: transform 500ms $easeInOutCirc;

               z-index: 1;
               &.__back {
                   @include fullsize;
                   top: 0;
                   left: 0;
                   transform: rotateY(180deg);
                   z-index: 2;
                   .__img {
                       background: $color-secondary1;
                       &:after {
                           display: none;
                       }
                   }

                   .__desc {
                       top: __to_rem(30px, $font-size-base);
                       bottom: __to_rem(117px, $font-size-base);

                       p, b, span {
                           font-family: $font-family !important;
                           font-size: 15px !important;
                           line-height: 1.6 !important;
                           font-weight: 400;
                           color: #fff !important;
                           white-space: normal;

                           @media screen and (max-width: $breakpoint-tablet) {
                               font-size: 14px !important;
                               line-height: 22px !important;
                           }
                       }
                   }
               }
               box-shadow:  __to_rem(20px, $font-size-base) __to_rem(23px, $font-size-base) __to_rem(25px, $font-size-base) rgba(0, 0, 0, 0.16);
               .__img {
                   height: 100%;
                   img {
                       display: block;
                       width: 100%;
                       height: 100%;
                       object-fit: cover;
                   }
                   &:after {
                       @include dimmed;
                   }
               }
               
               .__desc {
                   position: absolute;
                   color: #fff;
                   left: __to_rem(30px, $font-size-base);
                   right: __to_rem(30px, $font-size-base);
                   bottom: __to_rem(30px, $font-size-base);
                   display: flex;
                   flex-direction: column;
                   overflow: hidden;

                   .__title {
                       display: -webkit-box;
                       -webkit-box-orient: vertical;
                       -webkit-line-clamp: 2;
                       overflow: hidden;

                       
                       max-width: 19.01041vw;
                       @media screen and (max-width: $breakpoint-tablet) {
                           max-width: 58.66666vw;
                       }
                   }
                   .__category {
                       font-weight: 700;
                       margin-bottom: .8em;
                   }

                   .__date {
                       display: block;
                       margin-top: 1.25em;
                       color: #ccc;
                   }
               }

               .__cta {
                   position: absolute;
                   bottom: __to_rem(30px, $font-size-base);
                   left: __to_rem(30px, $font-size-base);
                   right: __to_rem(30px, $font-size-base);
                   height: auto;
                   max-height: initial;
                   margin-top: auto;
                   .__btn {
                       display: block;
                       width: 100%;
                       opacity: 1;
                       transform: translateY(0);
                       padding: 0;
                   }

                   .__label {
                       justify-content: center;
                       height: 100%              }
               }

               .__icon {
                   display: block;
                   position: absolute;
                   z-index: 3;
                   top: __to_rem(24px, $font-size-base);
                   right: __to_rem(24px, $font-size-base);
                   img {
                       display: block;
                       width: __to_rem(50px, $font-size-base);
                       height: __to_rem(50px, $font-size-base);
                   }
               }
           }
       }


   }


    .__swiper-nav-controls a {
        background-color: rgb(39, 59, 186);

        &:hover {
            background-color: #fff;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            &:hover {
                background-color: rgb(39, 59, 186);

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

@keyframes title-bg-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
@media screen and (max-width: $breakpoint-tablet) {
    #homeNewsroom {
        overflow: visible;
        .__box {
            padding: __to_rem(40px, $font-size-min) __to_rem(40px, $font-size-min);
            .__newsroom-posts {
                margin: __to_rem(-15px, $font-size-base);
            }
            .__newsroom-post-item {
                width: __to_rem(320px, $font-size-base);
                height: __to_rem(320px, $font-size-base);
                padding: __to_rem(15px, $font-size-base);
            }
        }

    }
}
@media screen and (max-width: $breakpoint-mobile) {
    #homeNewsroom {
        overflow: visible;
        .__box {
            padding: __to_rem(40px, $font-size-min) __to_rem(30px, $font-size-min);
            border-radius: 0;
            margin: 0 $gutter-mobile * -1;
            .__newsroom-header {
                .__category-filter {
                    width: 100%;
                    a {

                        height: __to_rem(48px, $font-size-min);
                    }
                }
                .__controls {
                    display: none;
                }
            }


            .__newsroom-body {
                .__controls {
                    display: block;
                }
            }
            .__newsroom-posts {
                margin: __to_rem(-15px, $font-size-min);
                .__item-group {
                    flex-direction: column;
                }
            }
            .__newsroom-post-item {
                position: relative;
                width: __to_rem(260px, $font-size-min);
                height: __to_rem(260px, $font-size-min);
                padding: __to_rem(15px, $font-size-min);

            }


        }
    }
}