@import "../var";

.__headline1 {
    @include __txt_to_rem(74px, 90px, $font-size-base);
    font-weight: 700;
}
.__headline2 {
    @include __txt_to_rem(64px, 80px, $font-size-base);
    font-weight: 700;
}
.__headline3 {
    @include __txt_to_rem(56px, 70px, $font-size-base);
    font-weight: 700;
}
.__headline4 {
    @include __txt_to_rem(50px, 70px, $font-size-base);
    font-weight: 700;
}
.__headline5 {
    @include __txt_to_rem(40px, 56px, $font-size-base);
    font-weight: 700;
}
.__headline6 {
    @include __txt_to_rem(32px, 40px, $font-size-base);
    font-weight: 700;
}
.__sub-headline1 {
    @include __txt_to_rem(27px, 36px, $font-size-base);
    font-weight: 700;
}
.__sub-headline2 {
    @include __txt_to_rem(24px, 30px, $font-size-base);
    font-weight: 700;
}



p {
    @include __txt_to_rem(18px, 32px, $font-size-base);
}
.__txt-lg {
    font-size: __to_rem(20px, $font-size-base);
}
.__txt-xs {
    font-size: __to_rem(15px, $font-size-base);
}

@media screen and (max-width: $breakpoint-tablet) {

    .__headline1,
    .__headline1--m {
        @include __txt_to_rem(39px, 56px, $font-size-min);
    }
    .__headline2,
    .__headline2--m {
        @include __txt_to_rem(34px, 43px, $font-size-min);
    }
    .__headline3,
    .__headline3--m {
        @include __txt_to_rem(28px, 35px, $font-size-min);
    }
    .__headline4,
    .__headline4--m {
        @include __txt_to_rem(26px, 38px, $font-size-min);
    }
    .__headline5,
    .__headline5--m {
        @include __txt_to_rem(24px, 34px, $font-size-min);
    }
    .__headline6,
    .__headline6--m {
        @include __txt_to_rem(18px, 26px, $font-size-min);
    }
    .__sub-headline1,
    .__sub-headline1--m {
        @include __txt_to_rem(18px, 26px, $font-size-min);
    }
    .__sub-headline2,
    .__sub-headline2--m {
        @include __txt_to_rem(16px, 24px, $font-size-min);
    }
    .__sub-headline3,
    .__sub-headline3--m {
        @include __txt_to_rem(15px, 24px, $font-size-min);
        font-weight: 700;
    }

    p {
        @include __txt_to_rem(14px, 22px, $font-size-min);
    }
    .__txt-lg {
        font-size: __to_rem(16px, $font-size-min);
    }
    .__txt-xs {
        font-size: __to_rem(12px, $font-size-min);
    }
}