@import "../var";

#homeTop {

    .__desc .__cta .__btn {
        transition: none !important;
    }
    .__grid__ {
        flex-flow: row wrap;
    }
    .__col--anim {
        overflow: hidden;
    }
    .__col__.__left {
        //flex: 3;
        flex: 1;
    }
    .__col__.__right {
        //min-width: 230px;
        position: relative;
        display: flex;
        width: 25%;
        .__grid__ {
            width: 100%;
            flex-flow: column nowrap;
            flex: 1 1;
            .__col__:first-child {
                flex: 1;
            }
        }
    }

    .container-boxed {
        .__col__.__right {
            //max-width: 428px;
        }

        .__featured-slide {
            .swiper {
                max-height: 680px;
            }
        }
    }

    word-break: keep-all;


    .__featured-slide {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: __to_rem(8px, $font-size-base);
        overflow: hidden;
        isolation: isolate;
        flex: 1;
        .swiper {
            height: __to_vw(680px, 1920px);
            min-height: 100%;
        }

        .__controls {
            position: absolute;
            bottom: __to_rem(40px, $font-size-base);
            right: __to_rem(40px, $font-size-base);
            display: flex;
            z-index: 10;
            align-items: center;
            //height: __to_rem(56px, $font-size-base);
            .__prev,
            .__next {
                @include __wh_to_rem(30px ,30px, $font-size-base);
                display: block;
                text-indent: -999em;
                overflow: hidden;
                background: 50% 50% no-repeat;
                background-size: contain;
                margin-left: __to_rem(10px, $font-size-base);
            }

            .__prev {
                background-image: url(../../img/icon/prev.svg);
            }
            .__next {
                background-image: url(../../img/icon/next.svg);
            }

            .swiper-button-disabled {
                opacity: .3;
            }

            .__pagination {
                background: rgba(255,255,255,.3);
                border-radius: 0;
                display: flex;
                height: 3px;
                margin: 0  __to_rem(8px, $font-size-base) 0 0;
                display: flex;
                .swiper-pagination-bullet {
                    width: __to_rem(48px, $font-size-base) !important;
                    height: 3px !important;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    text-indent: -99em;
                    overflow: hidden;
                    position: relative;
                    background: transparent !important;
                    &:after {
                        @include fullsize;
                        top: 0;
                        left: 0;
                        background: #fff;
                        content: '';
                        width: 0;
                        transition: width 300ms ease-out;
                        will-change: width;
                    }
                }

                .swiper-pagination-bullet-active {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        h2 {
            position: absolute;
            top: __to_rem(40px, $font-size-base);
            left: __to_rem(40px, $font-size-base);
            color: #fff;
            z-index: 4;
            text-transform: uppercase;
            letter-spacing: 0;
        }

       
        .__slide-item {
            position: relative;
            height: 100%;

            .__cta {
                height: auto;
                max-height: __to_rem(96px, $font-size-base);
                .__btn {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @media (hover: hover), (-ms-high-contrast:none) {
                &.__active,
                &:hover {
                    .__bg {
                        &:after {
                            opacity: 1;
                            top: 0;
                        }
                        img {
                            transform: scale(1.075);
                        }
                    }

                    .__cta {
                        height: auto;
                        max-height: __to_rem(96px, $font-size-base);
                        .__btn {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            .__item-inner {
                position: relative;
                overflow: hidden;
                height: 100%;
            }
            .__bg {
                position: relative;
                height: 100%;
                &:after {
                    @include dimmed;
                    transition: top 1000ms $easeOutQuint, opacity 1000ms;
                    will-change: top, opacity;
                }
                img,
                video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                video {
                    @include position_xy;
                }

                img {
                    transition: transform 1000ms $easeOutQuint;
                    will-change: transform;
                }
            }

            .__desc {
                position: absolute;
                bottom: __to_rem(40px, $font-size-base);
                left: __to_rem(40px, $font-size-base);

                max-width: 37.5vw;
                @media screen and (max-width: $breakpoint-tablet) {
                    max-width: 78.66vw;
                }
            }


            .__btn-invisible {
                display: none;
                @media screen and (max-width: $breakpoint-tablet) {
                    display: block;
                }
            }

        }


        .swiper-wrapper,
        .swiper-slide,
        .__bg,
        .__motion {
            transition-timing-function: $easeOutQuint;
            position: relative;
        }

        .__motion1 {
            transition-delay: 200ms;
        }
        .__motion2 {
            transition-delay: 400ms;
        }
        .__motion3 {
            transition-delay: 600ms;
        }
    }

    .__news-slide {
        position: relative;
        border-radius: __to_rem(8px, $font-size-base);
        overflow: hidden;
        isolation: isolate;
        height: 100%;
        //background: #ddd;
        .__title-area {
            position: absolute;
            top: __to_rem(40px, $font-size-base);
            left: __to_rem(40px, $font-size-base);
            right: __to_rem(40px, $font-size-base);
            color: #fff;
            z-index: 4;
            display: flex;
            align-items: flex-start;

            .__utils {
                margin-left: auto;

            }
            .__indices {
                background: rgba(0, 0, 0, 0.5);
                font-weight: 700;

                padding: .3em .5em;
                border-radius: 2em;
                .__pagination {
                    display: flex;
                    span {
                        margin: 0 .25em;
                    }
                }
            }
        }

        .swiper {
            height: 100%;
        }


        .__news-item {
            position: relative;
            overflow: hidden;
            height: 100%;

            @media (hover: hover), (-ms-high-contrast:none) {
                &.__active,
                &:hover {
                    .__bg {
                        &:after {
                            opacity: 1;
                            top: 0;
                        }
                        img {
                            transform: scale(1.075);
                        }
                    }

                }
            }

            .__bg {
                overflow: hidden;
                height: 100%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 1000ms $easeOutQuint;
                    will-change: transform;
                }
                &:after {
                    @include dimmed;
                    transition: top 1000ms $easeOutQuint, opacity 1000ms;
                    will-change: top, opacity;
                }
            }

           
            .__desc {
                position: absolute;
                z-index: 3;
                bottom: __to_rem(40px, $font-size-base);
                left: __to_rem(40px, $font-size-base);

            
                .__category {
                    margin-bottom: __to_em(12px, $font-size-base);
                    font-weight: 700;
                }
                
                h3 {
                    a {
                        position: relative;
                        display: flex;
                        align-items: center;

                        &:after {
                            display: block;
                            background: url(../../img/icon/arrow-right.svg) 50% 50% no-repeat;
                            background-size: contain;
                            content: '';
                            @include __wh_to_em(21px, 21px, 27px);
                            margin-left: __to_em(6px, 27px);
                            transition: transform 300ms ease-out;
                            will-change: transform;
                        }

                        strong{
                            word-break: break-all;
                            max-width: 18.125vw;
                            @media screen and (max-width: $breakpoint-tablet) {
                                max-width: 78.66vw;
                            }
                        }

                        &:hover {
                            &:after {
                                transform: translateX(__to_em(4px, 27px));
                            }
                        }
                    }
                }

                .__date {
                    margin-top: __to_em(8px, $font-size-base);
                    color: #CCCCCC;
                    letter-spacing: 0;
                }
            }
        }
        .swiper-wrapper,
        .swiper-slide,
        .__bg,
        .__motion {
            transition-timing-function: $easeOutQuint;
            position: relative;
        }

        .__motion1 {
            transition-delay: 0ms;
        }
        .__motion2 {
            transition-delay: 100ms;
        }
        .__motion3 {
            transition-delay: 200ms;
        }
        
        .__controls {
            .__prev,
            .__next {
                @include position_y;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include __wh_to_rem(32px, 32px, $font-size-base);
                // background: #fff;
                background: rgba(255,255,255,.25);

                z-index: 10;
                opacity: 0;
                transition: opacity 300ms ease-out, background-color 300ms ease-out;
                will-change: opacity, background-color;

                svg {
                    display: block;
                    width: __to_rem(18px, $font-size-base);
                    height: __to_rem(18px, $font-size-base);
                    path {
                        // fill: $color-primary;
                        fill: #fff;
                        transition: fill 300ms;
                        will-change: fill;
                    }
                }

                &:hover{
                    background: #fff;
                    svg {
                        path {
                            fill: $color-primary;
                        }
                    }

                }

                // &.swiper-button-disabled {
                //     background: rgba(255,255,255,.25);
                //     svg {
                //         path {
                //             fill: #fff;
                //         }
                //     }
                // }
            }

            .__prev {
                left: __to_rem(40px, $font-size-base);
                svg {
                    transform: scaleX(-1);
                }
            }

            .__next {
                right: __to_rem(40px, $font-size-base);
            }

        }
        &:hover {
            .__controls {
                .__prev,
                .__next {
                    opacity: 1;
                }
            }
        }
    }

    .__stock-info {
        position: relative;
        max-height: __to_rem(154px, $font-size-base);
        border-radius: __to_rem(8px, $font-size-base);
        overflow: hidden;
        isolation: isolate;
        background: $color-secondary1;
        color: #fff;
        //padding: __to_rem(38px, $font-size-base) __to_rem(35px, $font-size-base);
        white-space: nowrap;

        //padding: 20px 0 0 0 !important;

        @media screen and (max-width: $breakpoint-tablet) {
            max-height: 80px;
        }
        @media screen and (max-width: $breakpoint-mobile) {
            max-height: 150px;
        }

        iframe {
            height: __to_rem(160px, $font-size-base);
        }

        h2 {
            display: flex;
            margin-bottom: 1.25em;
            strong {
                font-weight: 700;
                margin-right: .85em;
            }
            small {
                opacity: .8;
                border-left: 1px solid rgba(255,255,255,.5);
                padding-left: .85em;
            }
        }

        .__stock {
            display: flex;
            align-items: center;
            * {
                letter-spacing: 0;
            }
            //font-size: __to_rem(16px, $font-size-base);

            strong {
                //font-size: __to_em(34px, 16px);
                //font-weight: 700;
                margin-right: .1em;
                line-height: 1;

            }
            .__status {
                margin-left: auto;
                display: flex;
                align-items: center;
                i {
                    margin-right: .2em;
                    font-size: .8em;
                }
                span+span {
                    margin-left: .5em;
                }
            }
        }
    }

}

@media screen and (max-width: $breakpoint-tablet) {
    #homeTop {


        .__featured-slide {
            h2 {
                top: __to_rem(24px, $font-size-min);
                left: __to_rem(24px, $font-size-min);

            }
            .__slide-item {
                .__desc {
                    left: __to_rem(24px, $font-size-min);
                    bottom: __to_rem(24px, $font-size-min);
                }
            }

            .__controls {
                .__pagination {
                    width: 100%;
                }
                right: __to_rem(24px, $font-size-min);
                bottom: __to_rem(24px, $font-size-min);
            }
        }

        .__news-slide {
            .__title-area {
                top: __to_rem(24px, $font-size-min);
                left: __to_rem(24px, $font-size-min);
                right: __to_rem(24px, $font-size-min);
            }

            .__news-item {
                .__desc {
                    left: __to_rem(24px, $font-size-min);
                    right: __to_rem(24px, $font-size-min);
                    bottom: __to_rem(24px, $font-size-min);
                }
            }


            .__controls {
                display: none;

                .__prev {
                    left: __to_rem(24px, $font-size-min);
                }
                .__next {
                    right: __to_rem(24px, $font-size-min);

                }
            }
        }

        .__stock-info {
            font-size: 12px;
            //padding: __to_rem(24px, $font-size-min);
            .__stock {
                strong {
                    font-size: 22px;
                }
            }
           
        }


    }
}

@media screen and (max-width: $breakpoint-mobile) {
    #homeTop {
        .__grid__ {
            flex-direction: column;
        }
        .__col__.__left {
            width: 100%;
            flex: auto;
        }
        .__col__.__right {
            width: 100%;
            display: block;
            .__grid__ {
                width: auto;
                flex-direction: column-reverse;
            }

        }

        .container-boxed {
            .__col__.__right {
                max-width: 100%;
            }
        }

        .__featured-slide {
            .swiper {
                height: __to_vw(480px, $content-box-mobile-width);
                max-height: 540px !important;
            }

            .__slide-item {
                .__desc {
                    left: __to_rem(24px, $font-size-min);
                    bottom: __to_rem(66px, $font-size-min);
                    right: __to_rem(40px, $font-size-min);
                }
            }

            .__controls {
                left: __to_rem(24px, $font-size-min);
                bottom: __to_rem(32px, $font-size-min);
                right: __to_rem(24px, $font-size-min);

                .__pagination {


                    .swiper-pagination-bullet {
                        width: auto !important;
                        flex: 1;
                    }
                }
                .__prev,
                .__next {
                    display: none;
                }
            }
        }

        .__news-slide {
            .swiper {
                height: __to_vw(360px, $content-box-mobile-width);
                max-height: 450px !important;
            }
        }


        .__stock-info {
            font-size: 1rem;
            h2 {
                margin-bottom: 24px;
            }
            .__stock {
                strong {
                    font-size: 34px;
                }
            }
        }
    }
}