@import "../var";
.__top-box {
    .__box {
        border-radius: __to_rem(8px, $font-size-base);
        overflow: hidden;
        position: relative;
        isolation: isolate;
        //height: __to_vw(810px, 1920px);
        height: calc(100vh - #{__to_vw($gutter, 1920px)} - #{$header-main-height + $header-top-bar-height});
        background: #222;
        color: #fff;
    }

    .__breadcrumb {
        position: absolute;
        top: __to_vw(30px, 1920px);
        left: __to_vw(40px, 1920px);
    }

    @media screen and (max-width: $breakpoint-tablet) {
        .__box {
            height: calc(100vh - #{__to_vw($gutter-tablet, $breakpoint-tablet)} - #{$header-main-height-m + $header-top-bar-height-m});
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        .__box {
            //height: __to_vw(430px, $content-box-mobile-width);
            //max-height: 430px;
            height: calc(100vh - __to_vw($gutter-tablet, $breakpoint-tablet) - 210px);

        }


        .__breadcrumb {
            display: none;
        }

        .__scrolldown {
            bottom: 26px;
            font-size: 12px;
            flex-direction: row;
            i {
                margin-top: 0;
            }
        }


    }

    @media screen and (min-width: $content-box-max-width) {

        .__box {
            //height: 810px;
            height: calc(100vh - #{$gutter} - #{$header-main-height + $header-top-bar-height});
        }

        .__breadcrumb {
            top: __to_vw(30px, 1920px);
            left: __to_vw(40px, 1920px);
        }

        .__scrolldown {
            bottom: 50px;
            font-size: 15px;
        }
    }
}

