@import 'variable';
@import 'mixin';

body {
  opacity: 1;
  visibility: visible;
}

img {
  max-width: 100%;
}

.clear, .clear_fr {
  *zoom: 1;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clear_fr > div {
  float: right;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.inb {
  display: inline-block;
}

.t_none {
  display: inline-block;
}

.m_none {
  display: inline-block;
}

.m_block {
  display: none !important;
}

.w_block {
  display: block !important;
}

.w_none {
  display: none !important;
}

.m_none_flex {
  display: flex !important;
}

.m_block_flex {
  display: none !important;
}
//4월 26일날 추가
.m_inline{
  display:none;
}

/*
 * color
 */
.col-prime-blue {
  color: $color-primary;
}

.col-aqua {
  color: $color-secondary1;
}

.col-l-blue {
  color: $color-secondary2;
}

.col-purple {
  color: $color-secondary3;
}

.col-green {
  color: $color-secondary5;
}

.col-bg-prime-blue {
  background-color: $color-primary;
}

.col-bg-aqua {
  background-color: $color-secondary1;
}

.col-bg-l-blue {
  background-color: $color-secondary2;
}

.col-bg-purple {
  background-color: $color-secondary3;
}

.col-bg-green {
  background-color: $color-secondary5;
}


/**
  breadcrumb
*/
.__breadcrumb {
  position: absolute;
  top: 1.5625vw;
  left: 1.5625vw;
  z-index: 9;

  &.__white {
    color: #fff;
    ul {
      li {
        a.__home {
          background-image: url(../../img/icon/home-h.svg);
        }
      }
    }
  }
  //ul {
  //  display: flex;
  //  align-items: center;
  //  font-size: __to_rem(13px, $font-size-base);
  //  gap: __to_em(11px, 13px);
  //  li {
  //    display: flex;
  //    align-items: center;
  //    a {
  //      display: block;
  //      &.__home {
  //        background: url(/img/icon/home.svg) no-repeat center center;
  //        background-size: auto __to_em(12px, 13px);
  //        @include __wh_to_em(13px, 13px, 13px);
  //        text-indent: -999em;
  //        overflow: hidden;
  //        margin-top: -1px;
  //      }
  //    }
  //    &+li {
  //      &:before {
  //        content: '>';
  //        margin-right: __to_em(11px, 13px);
  //      }
  //    }
  //
  //
  //  }
  //}
}

/*
 * link
 */
.__link {
    position: absolute;

    .link_arw {
      display: flex;
      align-items: center;

        &::after {
            display: inline-block;
            background: url(../../img/icon/arrow-right.svg) 50% 50% no-repeat;
            background-size: contain;
            content: '';
            @include __wh_to_em(21px, 21px, 24px);
            margin-left: __to_em(10px, 24px);
            transition: transform 300ms ease-out;
            will-change: transform;
        }
    }

    &.__outlink {
        .link_arw {
            &::after {
              background-image: url(../../img/icon/outlink.svg);
              @include __wh_to_em(24px, 24px, 24px);
            }
        }
    }

}

/*
 * grid
 */
.__grid {
  display: flex;
  gap: __to_rem(16px, $font-size-base);
  // margin: __to_rem(-8px, $font-size-base);

  &.col {
    flex-direction: column;
  }

  &.row {
    font-size: inherit;
  }

  .grid_box {
    display: flex;
    gap: __to_rem(16px, $font-size-base);
    // margin: __to_rem(8px, $font-size-base);

    .grid_2 {
      width: __to_vw(872px, 1920px);
      height: __to_vw(872px, 1920px);
      max-width: 872px;
      max-height: 872px;

    }

    .grid_3 {
      width: __to_vw(576px, 1920px);
      height: __to_vw(576px, 1920px);
      max-width: 576px;
      max-height: 872px;
    }

  }
}
@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
  }
}
@include ie {
  .__grid {
    &> * + * {
      margin-left: __to_rem(16px, $font-size-base);
      @media screen and (max-width: $breakpoint-tablet) {
          margin-left: __to_rem(10px, $font-size-min);
      }
    }
  }
  .__grid.col {
    &> * + * {
      margin-left: 0;
      margin-top: __to_rem(16px, $font-size-base);
      @media screen and (max-width: $breakpoint-tablet) {
          margin-top: __to_rem(10px, $font-size-min);
      }
    }
  }
}

/**
  KV TITLE
*/
.section_kv {
  .kv_wrap {
    position: relative;
    width: 100%;
    padding: 100px 0;

    .__breadcrumb {
      position: absolute;
      left: 0;
      top: 32px;
    }
  }
}

/**
  TAB MENU
*/
/* tab with box*/
.tab_menu {
  position: relative;
  margin-bottom: 32px;

  .tab_menu_box {
    display: flex;
    justify-content: space-between;
    padding: 38px 40px;
    background-color: #f5f5f5;

    > ul {
      display: flex;

      li {
        position: relative;
        margin-right: 40px;
        color: #222;

        ::before {
          content: '';
          position: absolute;
          z-index: 3;
          bottom: -38px;
          left: 0;
          right: 0;
          width: 0;
          height: 4px;
          background: $color-primary;
          transition: width 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &.on {
          font-weight: 700;

          ::before {
            width: 100%;
          }

          &.col-prime-blue {
            color: $color-primary;

            ::before {
              background: $color-primary;
            }
          }

          &.col-aqua {
            color: $color-secondary1;

            ::before {
              background: $color-secondary1;
            }
          }

          &.col-l-blue {
            color: $color-secondary2;

            ::before {
              background: $color-secondary2;
            }
          }

          &.col-purple {
            color: $color-secondary3;

            ::before {
              background: $color-secondary3;
            }
          }

          &.col-green {
            color: $color-secondary5;

            ::before {
              background: $color-secondary5;
            }
          }

        }
      }
    }
  }
}

/* tab without box*/
.tab_area {
  @media screen and (max-width: $breakpoint-mobile) {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul {
    justify-content: center;
    align-items: center;

    & > li {
      display: block;
      padding-bottom: __to_rem(12px, $font-size-base);
      font-size: __to_em(27px, $font-size-base);
      font-weight: 700;
      border-bottom: transparent solid 3px;
      color: $color-gray-c;
      cursor: pointer;
      text-align: center;
      line-height: 1.2;

      &:not(:last-child) {
        margin-right: __to_rem(52px, $font-size-base); //-16px
      }

      &:hover {
        border-bottom: $color-primary solid 3px;
      }
      &.__active {
        color: $color-gray-2;
        border-bottom: $color-primary solid 3px;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      justify-content: flex-start;
      &>li:not(:last-child) {
        margin-right: __to_em(16px, $font-size-base); //-16px
      }
      &.tab_menu {
        flex-wrap: wrap;
        display: flex;
        grid-template-columns: none;
        flex-direction: row;
        max-width: none;
        min-width: 780px;

        &>li {
          margin: 0 30px 0 0;

          a {
            padding: __to_rem(16px, $font-size-base) 0;
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
  }
}

.tab_content {
  display: none;

  &.__active {
    display: block;
  }
}

/*
 * select box(drop down)
 */
.select_wrap {
  position: relative;
  display: flex;
  white-space: nowrap;

  .select_toggle {
    display: flex;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      background: url(../../img/icon/arrow-right-bk.svg) 50% 50% no-repeat;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      @include __wh_to_em(12px, 12px, 14px);
      background-size: contain;
      margin-left: 4px;
    }
  }

  .select_toggle.active {
    border-radius: 0 0 __to_em(8px, 13px) __to_em(8px, 13px);

    &::after {
      transform: rotate(-90deg);
    }

    &+.select_inner {
      opacity: 1;
      visibility: visible;
      z-index: 10;

      .__scrollbar {
        height: 45vh;
        max-height: 550px;
      }
    }
  }

  .select_inner {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 300ms ease;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 16px);
    border-radius: __to_em(8px, 13px);
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: -1px;


    .scrollbar {
      padding: 18px 0;
      overflow: auto;
      //height: 0vh;
      //max-height: 0px;
      transition: height 300ms ease;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: transparent; /* or add it to the track */
      }

      &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 4px;
      }
    }

    h5 {
      font-size: __to_em(12px, 13px);
      margin-bottom:  __to_em(14px, 13px);
    }

    .select_list {
      &+h5 {
        margin-top:  __to_em(24px, 13px);
      }

      .select_item {
        padding: 10px 0;
        text-align: center;
        font-size: __to_em(15px, 13px);

        &.on {
          background: #f5f5f5;

          a {
            color: $color-primary;
          }
        }

        &:hover {
          background: #f5f5f5;
        }

        &+li {
          //margin-top:  __to_em(18px, 13px);
        }

        a {
          color: $color-gray-6;
        }

        small {
          font-size: __to_em(13px, 13px);
        }
      }
    }
  }
}

/**
  Select Box
*/
//.__related-site {
//  white-space: nowrap;
//  position: relative;
//
//  .__btn-toggle {
//    display: flex;
//    align-items: center;
//    padding: 16px 18px;
//    box-sizing: border-box;
//
//    &:after {
//      background: url(../../img/icon/triangle-down.svg) 50% 50% no-repeat;
//      display: block;
//      @include __wh_to_em(9px, 6px, 13px);
//      background-size: contain;
//      content: '';
//      margin-left: __to_em(70px, 13px);
//    }
//  }
//
//  .__btn-toggle.__active {
//    border-radius: 0 0 __to_em(8px, 13px) __to_em(8px, 13px);
//    &:after {
//      transform: rotate(-180deg);
//    }
//    &+.__sites {
//      opacity: 1;
//      visibility: visible;
//      z-index: 10;
//      .__scrollbar {
//        height: 45vh;
//        max-height: 550px;
//      }
//    }
//  }
//
//  .__sites {
//    opacity: 0;
//    visibility: hidden;
//    z-index: -1;
//    transition: all 300ms ease;
//    position: absolute;
//    left: 0;
//    right: 0;
//    bottom: 100%;
//    padding: __to_em(6px, 13px);
//    border-radius: __to_em(8px, 13px) __to_em(8px, 13px) 0 0;
//    background: #121212;
//    border: #333 1px solid;
//    margin-bottom: -1px;
//
//
//    .__scrollbar {
//      padding: __to_em(18px, 13px);
//      overflow: auto;
//      height: 0vh;
//      max-height: 0px;
//      transition: height 300ms ease;
//      &::-webkit-scrollbar {
//        width: 4px;
//        height: 4px;
//        background-color: transparent; /* or add it to the track */
//      }
//
//      &::-webkit-scrollbar-thumb {
//        background: #fff;
//        border-radius: 4px;
//      }
//    }
//    h5 {
//      font-size: __to_em(12px, 13px);
//      margin-bottom:  __to_em(14px, 13px);
//    }
//
//    ul {
//      &+h5 {
//        margin-top:  __to_em(24px, 13px);
//      }
//      li {
//        font-size: __to_em(15px, 13px);
//        &+li {
//          margin-top:  __to_em(18px, 13px);
//        }
//        a {
//          color: #888888;
//        }
//        small {
//          font-size: __to_em(13px, 13px);
//        }
//      }
//    }
//  }
//}


/**
 * search box
 */
.search_wrap {
  margin-bottom: 64px;
  .search_form {
    .search_box {
      position:relative;
      z-index:1;

      .input_box {
        position: relative;
        float: right;
        width: 400px;
        height: 64px;

        .input_inner {
          display: inline-block;
          width: 100%;
          height:100%;

          input {
            float: left;
            width: calc(100% - 32px);
            height: 100%;
            padding: 0 0 0 32px;
            line-height: 1;
            outline: none;
            border-radius: 80px;
            border: solid 1px #e5e5e5;

            &::placeholder {
              font-size: 18px;
              color: $color-gray-8;
            }
          }

        }

        .btn_search {
          position: absolute;
          right: 32px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          display: inline-block;

          img {
            width: 24px;
            height: 24px;
            max-width: 100%;
          }
        }
      }
    }
  }
}

/*
 * step box
 */

.stepbox {
  &.section {
    overflow: inherit;
  }
  &#q1, &#q2, &#q2_1, &#q2_2, &#q3 {
    display: none;
  }
  &+.stepbox {
    margin-top: 160px;
    @media screen and (max-width: $breakpoint-tablet) {
      margin-top: 72px;
    }
  }
  .__sub-headline1 {
    color: $color-gray-c;
    margin-bottom:  __to_rem(28px, $font-size-base);
  }
  .__headline5 {
    strong {
      color: $color-primary;
    }
  }
  .gridRow {
    margin-top: 80px;
    @media screen and (max-width: $breakpoint-tablet) {
      margin-top: 20px;
    }
    &.q1 {
      @media screen and (max-width: $breakpoint-mobile) {
        .__grid {
          flex-wrap: wrap;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .__grid-item {
        height: 198px;
        @media screen and (max-width: $breakpoint-tablet) {
          height: 110px;
        }
      }
    }
    &.q2 {
      .__grid + .__grid {
        margin-top: __to_rem(16px, $font-size-base);
      }
      .__grid-item {
        height: 150px;
        @media screen and (max-width: $breakpoint-tablet) {
          height: 72px;
        }
      }
      .mo_col2 {
        @media screen and (max-width: $breakpoint-mobile) {
          &.__grid {
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
    .__grid-item {
      flex: 1;

      button, a {
        background: #F5F5F5;
        border: #F5F5F5 solid 3px;
        border-radius: __to_rem(8px, $font-size-base);
        box-sizing: border-box;
        width: 100%; height: 100%;
        transition: all 300ms ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        strong {
          display: block;
        }
        span {
          display: block;
          margin-top:  __to_em(16px, $font-size-base);
        }

        &.b1:hover {
          border: $color-secondary2 solid 3px;
        }
        &.b1.active {
          border: $color-secondary2 solid 3px;
          background: $color-secondary2;
          color: $color-white;
        }

        &.b2:hover {
          border: $color-secondary1 solid 3px;
        }
        &.b2.active {
          border: $color-secondary1 solid 3px;
          background: $color-secondary1;
          color: $color-white;
        }

        &.outlink {
          strong {
            &::after {
              content:'';
              display: inline-block;
              width: 16px; height: 16px;
              margin-left: 5px;
              background: url(../../img/icon/outlink.svg) no-repeat 50% 50%;
              background-size: cover;
              vertical-align: middle;
            }
          }
          &.active {
            strong {
              &::after {
                background: url(../../img/icon/outlink-active.svg) no-repeat 50% 50%;
              }
            }
          }
        }
      }
    }
  }

  .input_header {
    margin-top: 80px;
    @media screen and (max-width: $breakpoint-tablet) {
      margin-top: 20px;
    }
  }

  .input_body {
    margin-top: __to_em(16px, $font-size-base);
    padding-bottom: __to_em(40px, $font-size-base);
    border-top: $color-gray-2 solid 2px;
    border-bottom: $border-color solid 1px;
    &>ul {
      &>li {
        margin-top: __to_em(40px, $font-size-base);
      }
    }
    dl {
      position: relative;
      padding-left: __to_em(216px, $font-size-base);

      dt {
        position: absolute;
        padding-top: __to_rem(18px, $font-size-base);
        left: 0; top: 0;
        font-size: __to_em(18px, $font-size-base);
        font-weight: 700;

        .required {
          >i {
            color: red;
          }
        }
      }

      dd {
        position: relative;
        .w80 {
          width: 80%;
        }
        .__grid {
          .col1 {
            flex: 1;
          }
          .col2 {
            flex: 2;
          }
        }
      }
    }
    .input_noti {
      padding-left: 12em;
      padding-top: .8em;
      p {
        color: $color-gray-8;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        padding-left: 0;
      }
    }

    .email_at {
      line-height: __to_rem(56px, $font-size-base);
    }
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"] {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: $border-color solid 1px;
      background-color: $color-white;
      height: __to_rem(56px, $font-size-base);
      padding: 0.9em 1.1em;
      border-radius: 8px;
      font-size: inherit;
      &:disabled {
        border: $color-gray-c solid 1px;
        background-color: #f5f5f5;
      }
      &.rtxt {
        padding: 0.9em 4em 0.9em 1.1em;
      }
    }
    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: $border-color solid 1px;
      background-color: $color-white;
      height: __to_rem(240px, $font-size-base);
      padding: 0.9em 1.1em;
      border-radius: 8px;
      font-size: inherit;
      &.rtxt {
        padding: 0.9em 1.1em 2em 1.1em;
      }
    }
    select {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: $border-color solid 1px;
      background-color: $color-white;
      height: __to_rem(56px, $font-size-base);
      padding: 0.9em 4em 0.9em 1.1em;
      border-radius: 8px;
      appearance: none;
      background: url(../../img/icon/arrow-down-bk.svg) no-repeat right 0.9em top 50%;
    }
    .num_txt {
      position: absolute;
      right: 20px; bottom: 20px;
      color: $color-gray-8;
      font-size: __to_em(15px, $font-size-base);
    }
    .btn_refresh {
      min-width: 170px;
      box-sizing: border-box;
      border: $border-color solid 1px;
      background-color: $color-white;
      height: __to_rem(56px, $font-size-base);
      border-radius: 2em;
      font-size: __to_em(15px, $font-size-base);
      font-weight: 700;

      &::after {
        content:'';
        display: inline-block;
        width: 16px; height: 16px;
        margin-left: 5px;
        background: url(../../img/icon/refresh.svg) no-repeat 50% 50%;
        background-size: cover;
        vertical-align: middle;
      }
    }
    .pt {
      padding-top: __to_rem(12px, $font-size-base);
    }
    .box_gray {
      margin-top: 1.5em;
      padding: 2em 2em;
      background-color: #f5f5f5;
      border-radius: 8px;
      p.list_dot,
      ul.list_dot>li {
        position: relative;
        padding-left: 1em;
        font-size: inherit;
        @include __txt_to_rem(18px, 32px, $font-size-base);
        &::before {
          content:'·';
          display: block;
          position: absolute;
          left: 0; top: 0;
        }
        &.bold {
          font-weight: 700;
          text-decoration: underline;
          &::before {
            font-weight: 400;
          }
        }
      }
      p.list_ref,
      ul.list_ref>li {
        position: relative;
        padding-left: 1em;
        @include __txt_to_rem(15px, 20px, $font-size-base);
        color: $color-gray-8;
        &::before {
          content:'※';
          display: block;
          position: absolute;
          left: 0; top: 0;
        }
      }
      .list_dot + .list_ref {
        margin-top: 20px;
      }
    }
    .agree {
      display: flex;
      justify-content: space-between;
      padding: 1.5em 0;

      &.only_radio {
        justify-content: flex-end;
      }

      .tit {
        font-size: 18px;
        font-weight: 700;
        @media screen and (max-width: $breakpoint-tablet) {
          font-size: 14px;
        }
      }
    }
    .radio_wrap {
      padding-top: 5px;
      label {
        position: relative;
        padding-left: 20px;
        input[type="radio"] {
          appearance: none;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 14px;
          height: 14px;
        }
        b {
          font-size: 15px;
          @media screen and (max-width: $breakpoint-tablet) {
            font-size: 12px;
          }
          &::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%; left: 0; transform:translateY(-50%);
            width: 14px; height: 14px;
            background-color: $color-white;
            border: $color-gray-c solid 1px;
            border-radius: 2px;
          }
          &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%; left: 3px; transform:translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: $color-white;
            border-radius: 1px;
          }
        }

        input[type="radio"]:checked + b {
          &::after {
            background-color: $color-primary;
          }
        }
      }
      label + label {
        margin-left: 24px;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      dl {
        padding-left: 0;
        dt {
          position: inherit;
          margin-bottom: 12px;
        }
        dd {
          position: relative;
          .w80 {
            width: 100%;
            &.__grid {
              display: block;
              .col1 {
                margin-top: 10px;
              }
              .btn_refresh {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}


/**
  ANIMATION
*/
.animation {
  &.up {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
  }

  &.trans {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
  }

  &.on {
    &.up {
      transform: translateY(0);
      opacity: 1;
    }

    &.trans {
      opacity: 1;
    }
  }
}

//.animation .up { position: relative; transform: translateY(100px); opacity: 0; transition-property: transform, opacity; transition-duration: 1s; }
//
//.animation.on .up { transform: translateY(0); opacity: 1; }
//
//.animation.up { position: relative; transform: translateY(100px); opacity: 0; transition-property: transform, opacity; transition-duration: 1s; }
//
//.animation.on.up { transform: translateY(0); opacity: 1; }

.delay1 {
  transition-delay: 100ms;
}

.delay2 {
  transition-delay: 200ms;
}

.delay3 {
  transition-delay: 300ms;
}

.delay4 {
  transition-delay: 400ms;
}

.delay5 {
  transition-delay: 500ms;
}

.delay6 {
  transition-delay: 600ms;
}

.delay7 {
  transition-delay: 700ms;
}

.delay8 {
  transition-delay: 800ms;
}

.delay9 {
  transition-delay: 900ms;
}

.delay10 {
  transition-delay: 1000ms;
}

.delay11 {
  transition-delay: 1100ms;
}

.delay12 {
  transition-delay: 1200ms;
}

.delay13 {
  transition-delay: 1300ms;
}

.delay14 {
  transition-delay: 1400ms;
}

.delay15 {
  transition-delay: 1500ms;
}

/*
 * 테이블 스타일
 */

/**
  페이징
*/
/**
 * paging
 */
.paging_box {
  text-align: center;
  margin-top: 84px;

  & * {
    display: inline-block;
    vertical-align: middle;
  }

  .arrow {
    display: none;

    &.active {
      display: inline-block;
    }

    button {
      width: 30px;
      height: 30px;
      font-size: 0;
      margin: 0 4px;
      background: no-repeat 50% 50%;
      background-size: 30px;

      &.to_first {
        background-image: url('../../img/icon/arw_paging_to_first.svg');
      }
      &.to_prev {
        background-image: url('../../img/icon/arw_paging_to_prev.svg');
      }
      &.to_last {
        background-image: url('../../img/icon/arw_paging_to_first.svg');
        transform: rotate(-180deg);
      }
      &.to_next {
        background-image: url('../../img/icon/arw_paging_to_prev.svg');
        transform: rotate(-180deg);
      }

      &:hover {
        &.to_first {
          background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
          transform: rotate(-180deg);
        }
        &.to_prev {
          background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
          transform: rotate(-180deg);
        }
        &.to_last {
          background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
          transform: rotate(0deg);
        }
        &.to_next {
          background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
          transform: rotate(0deg);
        }
      }
    }
  }

  .page_list {
    margin: 0 40px;

    button {
      position: relative;
      padding: 0 14px;
      font-size: 24px;
      line-height: 2;
      letter-spacing: -0.26px;
      color: $color-gray-8;

      &.active {
        color: $color-primary;
        font-weight: bold;
        //22.03.29 [pagination 전체 수정] 보더 삭제
        &:before {
          // display: block;
          display:none;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 20px;
          height: 4px;
          margin: 0 auto;
          background-color: $color-primary;
        }
      }
    }

  }

  //&.black{
  //  .page_list button{
  //    color: $color-gray-8;
  //
  //    &.active{
  //      color:#fff;
  //
  //      &:before{
  //        display: none;
  //      }
  //    }
  //  }
  //  .arrow {
  //    button {
  //      &.to_first {
  //        background-image: url('/img/icon/icon_arrow_double_left_white.svg');
  //      }
  //      &.to_prev {
  //        background-image: url('/img/icon/icon_arrow_left_white.svg');
  //      }
  //      &.to_last {
  //        background-image: url('/img/icon/icon_arrow_double_right_white.svg');
  //      }
  //      &.to_next {
  //        background-image: url('/img/icon/icon_arrow_right_white.svg');
  //      }
  //    }
  //  }
  //
  //}
}

/*
 * bg_color_full section - title
 */

/**
  SORT MENU
*/

/*
 * *remark
 */
.remark {
  display: flex;
  flex-direction: column;
  margin-top: __to_rem(72px, $font-size-base);
  padding-top: __to_rem(26px, $font-size-base);
  border-top: 1px solid #e5e5e5;

  &.right {
    align-items: flex-end;
  }

  .__font_body_2 {
    color: #888;
  }
}

.__utils {
  .__remark {
      display: block;
      margin-top: __to_rem(24px, $font-size-base);
      color: $color-gray-8;
      font-size: __to_em(15px, $font-size-base);

          @media screen and (max-width: $breakpoint-mobile) {
            float: none;
          }
      }
}


/*
 * video section
 */


/*--------------- MEDIA QUERY ---------------*/
/* TABLET */
@media all and (max-width: $breakpoint-tablet) {
  .t_none {
    display: none;
  }

  /*
   * grid
   */
  .__grid {
    gap: __to_rem(10px, $font-size-min);
    // margin: __to_rem(-5px, $font-size-base);

    .grid_box {
      gap: __to_rem(10px, $font-size-min);
      // margin: __to_rem(-5px, $font-size-base);

      .grid_2 {
        width: __to_vw(467px, 1024px);
        height: __to_vw(467px, 1024px);
        max-width: 467px;
        max-height: 467px;

      }

      .grid_3 {
        width: __to_vw(308px, 1024px);
        height: __to_vw(308px, 1024px);
        max-width: 308px;
        max-height: 308px;
      }
    }
  }

  /*
   *  TAB MENU
   */
  .tab_menu {
    position: relative;
    margin-bottom: 20px;

    .tab_menu_box {
      padding: 21px 23px;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        display: none;
      }

      > ul {

        li {
          position: relative;
          margin-right: 40px;
          font-size: 16px;
          white-space: nowrap;

          ::before {
            content: '';
            position: absolute;
            z-index: 3;
            bottom: -21px;
            left: 0;
            right: 0;
            width: 0;
            height: 3px;
            background: $color-primary;
            transition: width 0.25s cubic-bezier(0.19, 1, 0.22, 1);
          }

          &.on {
            font-weight: 700;

            ::before {
              width: 100%;
            }

            &.col-prime-blue {
              color: $color-primary;

              ::before {
                background: $color-primary;
              }
            }

            &.col-aqua {
              color: $color-secondary1;

              ::before {
                background: $color-secondary1;
              }
            }

            &.col-l-blue {
              color: $color-secondary2;

              ::before {
                background: $color-secondary2;
              }
            }

            &.col-purple {
              color: $color-secondary3;

              ::before {
                background: $color-secondary3;
              }
            }

            &.col-green {
              color: $color-secondary5;

              ::before {
                background: $color-secondary5;
              }
            }

          }
        }
      }
    }
  }

  /*
   * search box
   */
  .search_wrap {
    margin-bottom: 64px;

    .search_form {
      .search_box {
        position:relative;
        z-index:1;

        .input_box {
          position: relative;
          float: right;
          width: 335px;
          height: 48px;

          .input_inner {
            display: inline-block;
            width: 100%;
            height:100%;

            input {
              float: left;
              width: calc(100% - 24px);
              height: 100%;
              padding: 0 0 0 24px;
              line-height: 1;
              outline: none;
              border-radius: 80px;
              border: solid 1px #e5e5e5;

              &::placeholder {
                font-size: 14px;
              }
            }

          }

          .btn_search {
            position: absolute;
            right: 24px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;

            img {
              width: 20px;
              height: 20px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  /**
 * paging
 */
  .paging_box {
    text-align: center;
    margin-top: 44px;

    & * {
      vertical-align: middle;
    }

    .arrow {
      display: none;

      &.active {
        display: inline-block;
      }

      button {
        width: 26px;
        height: 26px;
        font-size: 0;
        margin: 0 4px;
        background: no-repeat 50% 50%;
        background-size: 26px;

        &.to_first {
          background-image: url('../../img/icon/arw_paging_to_first.svg');
        }
        &.to_prev {
          background-image: url('../../img/icon/arw_paging_to_prev.svg');
        }
        &.to_last {
          background-image: url('../../img/icon/arw_paging_to_first.svg');
          transform: rotate(-180deg);
        }
        &.to_next {
          background-image: url('../../img/icon/arw_paging_to_prev.svg');
          transform: rotate(-180deg);
        }

        &:hover {
          &.to_first {
            background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
            transform: rotate(-180deg);
          }
          &.to_prev {
            background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
            transform: rotate(-180deg);
          }
          &.to_last {
            background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
            transform: rotate(0deg);
          }
          &.to_next {
            background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
            transform: rotate(0deg);
          }
        }
      }
    }

    .page_list {
      margin: 0 20px;

      button {
        padding: 0 12px;
        font-size: 16px;
        line-height: 2;

        &.active {
          color: $color-primary;
          font-weight: bold;

          //.22.03.29 [pagination 전체 수정] 보더 삭제
          &:before {
            display:none;
            // display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 20px;
            height: 4px;
            margin: 0 auto;
            background-color: $color-primary;
          }
        }
      }

    }

    //&.black{
    //  .page_list button{
    //    color: $color-gray-8;
    //
    //    &.active{
    //      color:#fff;
    //
    //      &:before{
    //        display: none;
    //      }
    //    }
    //  }
    //  .arrow {
    //    button {
    //      &.to_first {
    //        background-image: url('/img/icon/icon_arrow_double_left_white.svg');
    //      }
    //      &.to_prev {
    //        background-image: url('/img/icon/icon_arrow_left_white.svg');
    //      }
    //      &.to_last {
    //        background-image: url('/img/icon/icon_arrow_double_right_white.svg');
    //      }
    //      &.to_next {
    //        background-image: url('/img/icon/icon_arrow_right_white.svg');
    //      }
    //    }
    //  }
    //
    //}
  }

  /*
 * select box(drop down)
 */
  .select_wrap {
    position: relative;
    display: flex;
    white-space: nowrap;

    .select_toggle {
      display: flex;
      align-items: center;
      padding: 0 28px;
      box-sizing: border-box;

      &::after {
        content: '';
        display: block;
        background: url(../../img/icon/arrow-right-bk.svg) 50% 50% no-repeat;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        @include __wh_to_em(12px, 12px, 14px);
        background-size: contain;
        margin-left: 4px;
      }
    }

    .select_toggle.active {
      border-radius: 0 0 __to_em(8px, 13px) __to_em(8px, 13px);

      &::after {
        transform: rotate(-90deg);
      }

      &+.select_inner {
        opacity: 1;
        visibility: visible;
        z-index: 10;

        .__scrollbar {
          height: 45vh;
          max-height: 550px;
        }
      }
    }

    .select_inner {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: all 300ms ease;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 16px);
      border-radius: __to_em(8px, 13px);
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: -1px;


      .scrollbar {
        padding: 18px 0;
        overflow: auto;
        //height: 0vh;
        //max-height: 0px;
        transition: height 300ms ease;

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
          background-color: transparent; /* or add it to the track */
        }

        &::-webkit-scrollbar-thumb {
          background: #fff;
          border-radius: 4px;
        }
      }

      h5 {
        font-size: __to_em(12px, 13px);
        margin-bottom:  __to_em(14px, 13px);
      }

      .select_list {
        &+h5 {
          margin-top:  __to_em(24px, 13px);
        }

        .select_item {
          padding: 10px 0;
          text-align: center;
          font-size: __to_em(15px, 13px);

          &.on {
            background: #f5f5f5;

            a {
              color: $color-primary;
            }
          }

          &:hover {
            background: #f5f5f5;
          }

          &+li {
            //margin-top:  __to_em(18px, 13px);
          }

          a {
            color: $color-gray-6;
          }

          small {
            font-size: __to_em(13px, 13px);
          }
        }
      }
    }
  }
}
// tablet

/*--------------- MEDIA QUERY ---------------*/
/* MOBILE */
@media all and (max-width: $break-point-mobile) {
  .m_none {
    display: none !important;
  }

  .m_none_flex {
    display: none !important;
  }

  .m_block {
    display: block !important;
  }

  .m_block_flex {
    display: flex !important;
  }
  //22.04.26일 추가
  .m_inline{
    display:inline !important;
  }
  .w_block {
    display: none !important;
  }

  .w_none {
    display: block !important;
  }

  /*
 * grid
 */
  .__grid {

    .grid_box {
      flex-direction: column;

      .grid_2, .grid_3 {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
      }
    }
  }

  /*
 * search box
 */
  .search_wrap {
    margin-bottom: 64px;

    .search_form {
      .search_box {
        position:relative;
        z-index:1;

        .input_box {
          position: relative;
          float: right;
          width: 100%;
          height: 48px;

          .input_inner {
            display: inline-block;
            width: 100%;
            height:100%;

            input {
              float: left;
              width: calc(100% - 24px);
              height: 100%;
              padding: 0 0 0 24px;
              line-height: 1;
              outline: none;
              border-radius: 80px;
              border: solid 1px #e5e5e5;

              &::placeholder {
                font-size: 14px;
              }
            }

          }

          .btn_search {
            position: absolute;
            right: 24px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;

            img {
              width: 20px;
              height: 20px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  /**
 * paging
 */
  .paging_box {
    text-align: center;
    margin-top: 44px;

    & * {
      vertical-align: middle;
    }

    .arrow {
      display: none;

      &.active {
        display: inline-block;
      }

      button {
        width: 26px;
        height: 26px;
        font-size: 0;
        margin: 0 4px;
        background: no-repeat 50% 50%;
        background-size: 26px;

        &.to_first {
          background-image: url('../../img/icon/arw_paging_to_first.svg');
        }
        &.to_prev {
          background-image: url('../../img/icon/arw_paging_to_prev.svg');
        }
        &.to_last {
          background-image: url('../../img/icon/arw_paging_to_first.svg');
          transform: rotate(-180deg);
        }
        &.to_next {
          background-image: url('../../img/icon/arw_paging_to_prev.svg');
          transform: rotate(-180deg);
        }

        &:hover {
          &.to_first {
            background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
            transform: rotate(-180deg);
          }
          &.to_prev {
            background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
            transform: rotate(-180deg);
          }
          &.to_last {
            background-image: url('../../img/icon/arw_paging_to_first_hov.svg');
            transform: rotate(0deg);
          }
          &.to_next {
            background-image: url('../../img/icon/arw_paging_to_prev_hov.svg');
            transform: rotate(0deg);
          }
        }
      }
    }

    .page_list {
      margin: 0 12px;

      button {
        padding: 0 12px;
        font-size: 16px;
        line-height: 2;

        &.active {
          color: $color-primary;
          font-weight: bold;

          //.22.03.29 [pagination 전체 수정] 보더 삭제 
          &:before {
            display:none;
            // display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 20px;
            height: 4px;
            margin: 0 auto;
            background-color: $color-primary;
          }
        }
      }

    }

    //&.black{
    //  .page_list button{
    //    color: $color-gray-8;
    //
    //    &.active{
    //      color:#fff;
    //
    //      &:before{
    //        display: none;
    //      }
    //    }
    //  }
    //  .arrow {
    //    button {
    //      &.to_first {
    //        background-image: url('/img/icon/icon_arrow_double_left_white.svg');
    //      }
    //      &.to_prev {
    //        background-image: url('/img/icon/icon_arrow_left_white.svg');
    //      }
    //      &.to_last {
    //        background-image: url('/img/icon/icon_arrow_double_right_white.svg');
    //      }
    //      &.to_next {
    //        background-image: url('/img/icon/icon_arrow_right_white.svg');
    //      }
    //    }
    //  }
    //
    //}
  }

  .__related-site {
    .__btn-toggle {
      height: __to_em(32px, 11px);
    }
  }

  /*
 *  TAB MENU
 */
  .tab_menu {
    min-width: 467px;
    margin-bottom: 20px;

    .tab_menu_box {
      padding: 21px 23px;

      > ul {
        overflow-x: auto;
        width: 100%;
        min-width: 620px;

        li {
          position: relative;
          margin-right: 24px;
          font-size: 16px;

          ::before {
            content: '';
            position: absolute;
            z-index: 3;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 0;
            height: 3px;
            background: $color-primary;
            transition: width 0.25s cubic-bezier(0.19, 1, 0.22, 1);
          }

          &.on {
            font-weight: 700;

            ::before {
              width: 100%;
            }

            &.col-prime-blue {
              color: $color-primary;

              ::before {
                background: $color-primary;
              }
            }

            &.col-aqua {
              color: $color-secondary1;

              ::before {
                background: $color-secondary1;
              }
            }

            &.col-l-blue {
              color: $color-secondary2;

              ::before {
                background: $color-secondary2;
              }
            }

            &.col-purple {
              color: $color-secondary3;

              ::before {
                background: $color-secondary3;
              }
            }

            &.col-green {
              color: $color-secondary5;

              ::before {
                background: $color-secondary5;
              }
            }

          }
        }
      }
    }
  }

  /*
 * select box(drop down)
 */
  .select_wrap {
    width: calc(100vw - 50px);
    margin: 20px 0;
    padding: 11px 24px;
    border: solid 1px #e5e5e5;

    .select_toggle {
      width: 100%;
      padding: 0;
      font-size: 16px;

      &::after {
        content: '';
        position: absolute;
        right: 24px;
      }
    }

    .select_toggle.active {
      border-radius: 0 0 __to_em(8px, 13px) __to_em(8px, 13px);

      &::after {
        transform: rotate(-90deg);
      }

      &+.select_inner {
        left: -1px;

        .__scrollbar {
          height: 45vh;
          max-height: 550px;
        }
      }
    }

    .select_inner {
      width: calc(100vw - 40px);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: all 300ms ease;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 16px);
      border-radius: __to_em(8px, 13px);
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: -1px;


      .scrollbar {
        padding: 18px 0;
        overflow: auto;
        //height: 0vh;
        //max-height: 0px;
        transition: height 300ms ease;

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
          background-color: transparent; /* or add it to the track */
        }

        &::-webkit-scrollbar-thumb {
          background: #fff;
          border-radius: 4px;
        }
      }

      h5 {
        font-size: __to_em(12px, 13px);
        margin-bottom:  __to_em(14px, 13px);
      }

      .select_list {
        &+h5 {
          margin-top:  __to_em(24px, 13px);
        }

        .select_item {
          padding: 10px 0;
          text-align: center;
          font-size: __to_em(15px, 13px);

          &+li {
            //margin-top:  __to_em(18px, 13px);
          }

          a {
            font-size: 16px;
          }

          small {
          }
        }
      }
    }
  }

}
