@charset "utf-8";

@mixin languages() {

  @each $type,
  $font-family in $global-font-family {
    [lang="#{$type}"] {
      font-family: $font-family;
    }

    html:lang(#{$type}) {

      body,
      input,
      select,
      textarea,
      button {
        font-family: $font-family;
      }
    }
  }
}

@mixin posCenterXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin dim {
  content:'';
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.15);
}

@mixin dimHoverBefore {
  content:'';
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.3);
  opacity:0;
  transition: all .6s;
}

@mixin dimHoverAfter {
  opacity:1;
}


@mixin imgHoverBefore {
  transition: all .6s;
}

@mixin imgHoverAfter {
  transform:scale(1.1);
}

@mixin transDelayNth($total) {
  @for $i from 1 through $total {
    &:nth-child(#{$i}) {
      transition-delay:#{$i/10}s;
    }
  }
}

@mixin underlineAfter {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: $color_red;
  transition: width .3s;
}

@mixin underlineAfterHover {
  width: 100%;
}

@mixin abwrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}