@use "sass:math";

$font-size-base: 18px;
$font-size-min: 14px;
$font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic",sans-serif;

$color-primary: #1428A0;
$color-secondary1: #1C9C9E;
$color-secondary2: #1D7FBF;
$color-secondary3: #8E1FFF;
$color-secondary4: #FE9D34;
$color-secondary5: #56a311;

$color-white : #fff;
$color-black : #000;
$color-gray-c : #ccc;
$color-gray-8 : #888;
$color-gray-6 : #666;
$color-gray-2 : #222;


$breakpoint-desktop: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-min: 640px;

//추후 footer 순서, font-size 변경시 수치 조절해줘야함
$breakpoint-footer: 418px;

$content-box-max-width: 1920px;
$content-box-mid-max-width: 1440px;
$content-box-mid-width: 960px;
$gutter: 80px;
$gutter-changed:60px;
$gutter-tablet: 40px;
$gutter-mobile: 20px;

$grid-gutter: 16px;
$grid-gutter-tablet: 10px;
$grid-gutter-mobile: 10px;
$header-z-index: 999;

$header-main-height: 136px;
$header-main-height-shrink: 91px;
$header-main-height-m: 72px;

$header-top-bar-height: 56px;
$header-top-bar-height-m: 48px;
@function __to_rem($size, $base) {
  @return  math.div($size, $base) * 1rem;
}
@function __to_em($size, $base) {
  @return  math.div($size, $base) * 1em;
}
@function __to_vw($size, $base) {
  @return  math.div($size, $base) * 100vw;
}
@function __to_vh($size, $base) {
  @return  math.div($size, $base) * 100vh;
}
@function __to_per($size, $base) {
  @return  math.div($size, $base) * 100%;
}
@mixin __txt_to_rem($size, $lh, $base) {
  font-size: __to_rem($size, $base);
  line-height: __to_em($lh, $size);
}

@mixin __txt_to_em($size, $lh, $base) {
  font-size: __to_em($size, $base);
  line-height: __to_em($lh, $size);
}


@mixin __wh_to_rem($width, $height, $base) {
  min-width: __to_rem($width, $base);
  width: __to_rem($width, $base);
  height: __to_rem($height, $base);
}
@mixin __wh_to_em($width, $height, $base) {
  min-width: __to_em($width, $base);
  width: __to_em($width, $base);
  height: __to_em($height, $base);
}
@mixin __wh_to_vw($width, $height, $base) {
  min-width: __to_vw($width, $base);
  width: __to_vw($width, $base);
  height: __to_vw($height, $base);
}
@mixin __wh_to_vh($width, $height, $base) {
  min-width: __to_vh($width, $base);
  width: __to_vh($width, $base);
  height: __to_vh($height, $base);
}

@mixin position_x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin position_y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin position_xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin fullsize {
  position: absolute;
  width: 100%;
  height: 100%;
}
@mixin dimmed($r:0,$g:0,$b:0) {
  @include fullsize;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(to bottom, rgba($r,$g,$b,0.1) 0%, rgba($r,$g,$b,.3) 50%, rgb($r,$g,$b,1) 100%);
  opacity: .6;
}


@mixin dimmed2($r:0,$g:0,$b:0) {
  @include fullsize;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(to bottom, rgba($r,$g,$b,0) 0%, rgb($r,$g,$b,1) 100%);
  opacity: .8;
}



//easing
$linear         : cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease           : cubic-bezier(0.250, 0.100, 0.250, 1.000);
$easeIn        : cubic-bezier(0.420, 0.000, 1.000, 1.000);
$easeOut       : cubic-bezier(0.000, 0.000, 0.580, 1.000);
$easeInOut    : cubic-bezier(0.420, 0.000, 0.580, 1.000);

$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);

$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.320, 1.275);

$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);






/* temporary 0119 */
$global-background-color: #fff;
$global-font-color: #000;
$global-font-size: 16px;

$global-font-family: (
        'ko': ('FontsName', Helvetica, Arial, sans-serif),
        'en': ('FontsName', Helvetica, Arial, sans-serif),
        'ja': ('FontsName', Helvetica, Arial, sans-serif),
        'cn': ('FontsName', Helvetica, Arial, sans-serif)
);

$color-red: #d80028;
$color-red2: #e51937;
$color-orange-red : #ff5e4a;
$color-orange: #f15f16;
$color-orange-light : #ff7643;
$color-darkgray: #171717;
$color-gray: #e2e2e2;
$color-lightgray: #f6f6f6;
$bor-clr: #ececec;

//$grid-2: 50%;
//$grid-3: 33.3333%;
//$grid-4: 25%;
$grid-2: 47%;
$grid-3: 29.3333%;
$grid-4: 20.5%;

$grid-spacing:6.25vw;
$grid-content-spacing:6%;


%clearfix:after {
  display:block;
  clear:both;
  content:'';
}


$content-lg : 1680px;
$content-md : 1280px;
$content-sm : 960px;
$header-gutter: 56px;
$header-gutter-tablet: 32px;
$header-gutter-mobile: 28px;

$container-gutter: 6.25vw;
$container-gutter-lg: 9.8vw;
$container-gutter-md: 9.8vw;
$container-gutter-sm: 28px;


$header-tab-height: 42px;
$header-gnb-height: 108px;
$header-height: calc(#{$header-tab-height} + #{$header-gnb-height});
$header-logo-width: 107px;
$header-logo-gutter: 70px;
$header-height-tablet : 80px;
$header-height-mobile : 60px;
$sub-tab-height: 69px;
$break-point-xxxl : 1920px;
$break-point-xxl : 1680px;
$break-point-xl : 1440px;
$break-point-lg : 1366px;
$break-point-md : 1200px;
$break-point-tablet : 1023px;
$break-point-mobile : 767px;
$break-point-mobile-414 : 414px;
$break-point-mobile-375 : 375px;
$break-point-mobile-350 : 350px;
$break-min-tablet : 1024px;
$break-min-mobile : 768px;

$footer-gutter-m: 160px;

$color-accent : #eb4e2f;
$color-chip1 : #B97924;
$color-chip2 : #438DB0;
$color-chip3 : #88ad3e;
$color-chip4 : #D15C3F;

$border-color : #e5e5e5;

$font-serif : 'Choseol', serif;
$font-cerapro : 'CeraPro', sans-serif;

$nav-accent-color: #eb912a;

$brand-color-1 : #eb4e2f;

// Easing function variables - http://easings.net/#easeOutQuint

// SINE
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// QUAD
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// CUBIC
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// QUART
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// QUINT
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// EXPO
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

// CIRC
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// BACK
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// BOUNCE - Not supported in CSS

// ELASTIC - Not supported in CSS
