@import "../var";

#aboutBusinessPortfolio {
    margin-bottom: __to_rem(40px, $font-size-base);

    @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom: __to_rem(24px, $font-size-min);
    }

    &.mg-btm-15{
        margin-bottom: __to_rem(15px, $font-size-base);
        @media screen and (max-width: $breakpoint-tablet) {
            margin-bottom: __to_rem(24px, $font-size-min);
        }
    }
    .__box {
        background: $color-secondary1;
        border-radius: __to_rem(8px, $font-size-base);
        isolation: isolate;
        overflow: hidden;
        padding: __to_rem(70px, $font-size-base) 0 __to_rem(70px, $font-size-base);
        position: relative;
        min-height: 400px;
        transition: background-color 300ms;
        color: #fff;

        word-break: keep-all;

        @media screen and (max-width: $breakpoint-tablet) {
            padding: __to_rem(40px, $font-size-min) 0;
            //margin: 0 $gutter-mobile * -1;
            max-width: 100%;
            margin: 0;
        }

        @media screen and (max-width: $breakpoint-min) {
            padding: __to_rem(40px, $font-size-min);
        }

        &[data-index="1"] {
            background-color: $color-secondary1;
        }
        &[data-index="2"] {
            background-color: $color-secondary2;
        }
        &[data-index="3"] {
            background-color: $color-secondary3;
        }
        &[data-index="4"] {
            background-color: $color-secondary5;
        }
        .__controls {

            @media screen and (max-width: $breakpoint-min) {
                display: none;
            }

            a {
                @include position_y;
                z-index: 11;
                &.__prev {
                    left: __to_rem(40px, $font-size-base);
                }

                &.__next {
                    right: __to_rem(40px, $font-size-base);
                }
            }
        }
    }

    .swiper {
        width: __to_rem(900px, $font-size-base);
        margin: 0 auto;
        overflow: visible;

        @media screen and (max-width: $breakpoint-tablet) {
            width: __to_rem(560px, $font-size-min);
        }

        @media screen and (max-width: $breakpoint-min) {
            width: __to_rem(310px, $font-size-min);
            @include position_x;
            position: relative;
            margin-left: 0;
        }

        .swiper-slide {
            overflow: visible;
        }
        .swiper-slide {
            .__portfolio-item {
                opacity: .5;
                .__title,
                .__links {
                    opacity: 0;
                }
            }
        }

        .swiper-slide-active {
            .__portfolio-item {
                opacity: 1;
                .__title,
                .__links {
                    opacity: 1;
                }
            }
        }

    }

    .__portfolio-item {
        padding: 0 __to_rem(60px, $font-size-base);
        transition: opacity 400ms;
        will-change: opacity;


        @media screen and (max-width: $breakpoint-tablet) {
            padding: 0 __to_rem(40px, $font-size-min);
        }
        @media screen and (max-width: $breakpoint-min) {
            padding: 0 __to_rem(25px, $font-size-min);
        }


        .__title {
            text-align: center;
            transform: translateY(50%);
            position: relative;
            z-index: 3;
            margin-top: __to_rem(-30px, $font-size-base);
            transition: opacity 400ms;
            will-change: opacity;
        }
        .__img {
            position: relative;
            z-index: 1;
            border-radius: __to_rem(8px, $font-size-base);
            isolation: isolate;
            overflow: hidden;
            box-shadow:  0 __to_rem(10px, $font-size-base) __to_rem(15px, $font-size-base) rgba(0,0,0,.2);

            &:after {
                @include dimmed3();
            }
            img {
                display: block;
                height: auto;
                width: 100%;
                object-fit: cover;
                @media screen and (max-width: $breakpoint-min) {
                    width: auto;
                    height: 340px;
                }
            }

            .__links {
                position: absolute;
                z-index: 3;
                right: __to_rem(48px, $font-size-base);
                left: __to_rem(48px, $font-size-base);
                bottom: __to_rem(40px, $font-size-base);
                display: flex;
                transition: opacity 400ms;
                will-change: opacity;
                @media screen and (max-width: $breakpoint-tablet) {
                    right: __to_rem(24px, $font-size-min);
                    left: __to_rem(24px, $font-size-min);
                    bottom: __to_rem(20px, $font-size-min);
                }

                @media screen and (max-width: $breakpoint-min) {
                    display: block;
                    right: __to_rem(20px, $font-size-min);
                    left: __to_rem(20px, $font-size-min);
                    bottom: __to_rem(20px, $font-size-min);
                }

                a {
                    flex: 1;
                    &:last-child {
                        margin-left: __to_rem(16px, $font-size-base);
                        @media screen and (max-width: $breakpoint-min) {
                            margin-left: 0;
                            margin-top: __to_rem(9px, $font-size-min);
                        }
                    }
                }
            }
        }
    }

    .__description {
        margin: 0 auto;
        margin-top: __to_rem(43px, $font-size-base);
        margin-bottom: __to_rem(40px, $font-size-base);
        text-align: center;
        max-width: __to_rem(550px, $font-size-base);

        @media screen and (max-width: $breakpoint-tablet) {
            margin-top: __to_rem(40px, $font-size-min);

        }
        >p{
            height: 6em;
            @media screen and (max-width: $breakpoint-mobile) {
                height: 7.8em;
            }

            &[data-index]{
                display:none;
            }
            &.__active{
                display:flex;
                align-items: center;
            }
        }
    }
    .__nav {
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            li {
                padding: 0 __to_rem(8px, $font-size-base);
                @media screen and (max-width: $breakpoint-min) {
                    padding: 0 __to_rem(4px, $font-size-min);

                }

                &.__active {
                    a {
                        opacity: 1;
                        font-weight: 700;
                    }
                }
                a {
                    display: block;
                    width: __to_rem(100px, $font-size-base);
                    text-align: center;
                    opacity: .3;
                    position: relative;
                    line-height: 2;
                    transition: opacity 300ms;

                    @media screen and (max-width: $breakpoint-min) {
                        width: __to_rem(70px, $font-size-min);

                    }

                    &:after {
                        content: '';
                        height: __to_rem(4px, $font-size-base);
                        background: #fff;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        top: 100%;
                        @media screen and (max-width: $breakpoint-tablet) {
                            height: __to_rem(2px, $font-size-min);

                        }
                    }
                }
            }
        }
    }


}


#aboutBusinessPortfolioStats {
    .__stats {
        .__stat {
            color: $color-primary;
        }
    }
}

//다국어 스타일 적용
body.__loaded.en{
    #aboutBusinessPortfolio{
        .swiper-slide{
            .__portfolio-item{
                .__img{
                    .__links{
                        .__btn{
                            padding:0;
                        }
                    }
                }
            }
        }
        .__nav{
            ul{
                li{
                    a{
                        // width:auto;
                    }
                }
            }
        }
    }
    #homeGlobalNetwork{
        .__box{
            .__box-inner{
                margin: 20px auto;
            }
        }
        .__utils{
            &.fr{
                .__remark{
                    display:none;
                }
            }
        }
    }
}