@import "../var";


.ie {
    #aboutGlobalNetwork {
        .__video-bg {
    
            width: 100%;
            display: block;
            background: transparent;
            object-fit:contain;
        
        }

        .__col__.__right {
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 50%;
            overflow: hidden;
            .swiper {
                overflow: hidden !important;
            }
        }
    }
}
#aboutGlobalNetwork {
    .__box {
        background: #9da8ae url(../img/about/network-bg.jpg) 50% 50% no-repeat;
        background-size: cover;
        border-radius: __to_rem(8px, $font-size-base);
        isolation: isolate;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: $breakpoint-mobile) {
            background-image: url(../img/about/network-bg-m.jpg);
        }

        .__main-grid__ {
            position: relative;
            .__col__ {
                &.webgl-container {
                    position: relative;
                    width: 60%;
                    padding: 0;

                    @media screen and (max-width: 1200px) {
                        width: 55%;
                    }
                    @media screen and (max-width: $breakpoint-tablet) {
                        width: 55%;
                    }
                    @media screen and (max-width: $breakpoint-mobile) {
                        width: 100%;
                    }

                    #webgl {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

                &.__right{
                    width: 40%;
                    padding: 0;
                    padding-right: 9%;

                    @media screen and (max-width: 1399px) {
                        width: 45%;
                    }
                    @media screen and (max-width: 1200px) {
                        padding-right: 4%;
                    }
                    @media screen and (max-width: $breakpoint-tablet) {
                        width: 45%;
                        padding-right: 0;
                    }
                    @media screen and (max-width: $breakpoint-mobile) {
                        width: 100%;
                        padding-right: 0;
                    }
                }
            }

            @media screen and (max-width: $breakpoint-mobile) {
                display: block;
                > .__col__ {
                    width: 100%;
                    min-height: 300px;
                    max-width: 100%;
                }
            }
        }



        .__detail {
            word-break: keep-all;
            padding: __to_rem(92px, $font-size-base) 0;
            // padding: __to_rem(92px, $font-size-base)  __to_rem(50px, $font-size-base) __to_rem(92px, $font-size-base) 0;
            max-width: 660px;
            margin: 0 auto;
            width: 100%;
            color: #fff;
            box-sizing: border-box;

            @media screen and (max-width: $breakpoint-tablet) {
                //padding: __to_rem(48px, $font-size-min);
                //max-width: __to_rem(420px, $font-size-min);
                max-width: 465px;
                padding: __to_rem(48px, $font-size-base)  __to_rem(40px, $font-size-base) __to_rem(55px, $font-size-base) 0;
                // padding: __to_rem(48px, $font-size-base)  __to_rem(40px, $font-size-base) __to_rem(48px, $font-size-base) 0;
            }

            @media screen and (max-width: $breakpoint-mobile) {
                max-width: 100%;
                padding:  0 __to_rem(20px, $font-size-min) __to_rem(40px, $font-size-min) __to_rem(20px, $font-size-min);
            }
            p {
                text-align: center;
                margin-bottom: __to_rem(40px, $font-size-base);
            }

            .__btns {
                a{
                    height: initial;
                    .__label{
                        line-height: 1;
                        padding: __to_rem(20px, $font-size-base);

                        span{
                            line-height: 1.33;
                            font-weight: bold;
                        }

                        @media screen and (max-width: $breakpoint-tablet) {
                            padding: __to_rem(15px, $font-size-min) 0;
                        }
                    }
                }

                a+a {
                    margin-top: __to_rem(16px, $font-size-base);
                }
            }

            .__nav {
                margin-bottom: __to_rem(16px, $font-size-base);
                white-space: nowrap;
                border-radius: __to_rem(8px, $font-size-base);
                isolation: isolate;
                overflow: hidden;
                background: $color-primary;


                .swiper {
                    overflow: visible;
                    width: 100%;
                }
                .swiper-slide {
                    width: auto !important;
                    min-width: 100% !important;
                }
                ul {
                    display: flex;

                    padding: 0 __to_rem(15px, $font-size-base);

                    li {
                        padding: 0 __to_rem(15px, $font-size-base);
                        a {
                            display: block;
                            line-height: __to_rem(72px, $font-size-base);
                            color: #6276E8;
                            position: relative;
                            transition: color 300ms;
                            will-change: color;
                            &:after {
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                width: 0;
                                height: 2px;
                                background: #fff;
                                content: '';
                                transition: width 300ms;
                                will-change: width;

                            }
                        }

                        &:hover,
                        &.__active {
                            a {
                                color: #fff;
                                &:after {
                                    width: 100%;
                                }
                            }
                        }

                        &.__active {
                            a {
                                font-weight: 700;
                            }
                        }
                    }

                }
            }

            .__specs {
                margin-bottom: __to_rem(24px, $font-size-base);

                @media all and (max-width: $breakpoint-mobile) {
                    margin-bottom: __to_rem(16px, $font-size-base);
                }
            }

            .__spec {
                .__col__ {
                    &.half{
                        width: 50%;
                    }
                    flex: 1;
                    width: auto;
                    max-width: 100%;
                }
                dl {
                    color: #222;
                    border-radius: __to_rem(8px, $font-size-base);
                    isolation: isolate;
                    overflow: hidden;
                    background: #fff;
                    padding: __to_rem(30px, $font-size-base) __to_rem(40px, $font-size-base);
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: $breakpoint-mobile - 1px) {
                        padding: __to_rem(22px, $font-size-min) __to_rem(16px, $font-size-min);

                    }
                    dt {
                        @media screen and (max-width: $breakpoint-mobile - 1px) {
                            font-size: __to_rem(16px, $font-size-min);
                        }
                    }
                    dd {
                        color: $color-primary;
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        strong {
                            margin-right: .1em;
                            display: block;

                        }


                        @media screen and (max-width: $breakpoint-mobile - 1px) {
                            font-size: __to_rem(16px, $font-size-min);
                            strong {
                                font-size: __to_rem(24px, $font-size-min);
                            }
                        }
                    }
                }
            }
        }
    }
}