@import "../var";

#aboutMotion {
    position: relative;
    $box-width: 428px;
    $box-height: 392px;
    $gap : 8px;
    overflow: hidden;
    .__motion-area {
        .__motion-area-inner {
            height: 100vh;
            position: relative;
        }

        .__bgs {
            @include position_xy;
            width: 100vw;
            height: calc(100vh - 280px);
            @media screen and (max-width: $breakpoint-mobile) {
                height: 520px;
            }
            .container {
                height: 100%;
            }
            .__bg-inner {
                height: 100%;
                width: 100%;
            }
            .__bg {
                height: 100%;
                width: 100%;
                position: relative;
                border-radius: __to_rem(8px, $font-size-base);
                isolation: isolate;
                overflow: hidden;
                @include position_xy;
                .__back {
                    @include fullsize();
                    transform: scale(1.01) translate3d(0,0,0);
                    top: 0;
                    left: 0;
                    background: 50% 50% no-repeat;
                    background-size: cover;
                    opacity: 0;
                    &.__b1 {
                        opacity: 1;
                    }
                }
            }
        }

        .__boxes {
            @include position_xy;
            width: 100vw;
            &.__m {
                opacity: 0;
            }
            @media screen and (max-width: $breakpoint-mobile) {
                &.__d {
                    opacity: 0;
                }

                &.__m {
                    opacity: 1;
                }
            }

            &.__d {
                .__boxes-inner {
                    margin: __to_vw(-$gap, $content-box-max-width);
                    display: flex;
                    flex-wrap: wrap;

                    .__box-item {
                        box-sizing: border-box;
                        padding: __to_vw($gap, $content-box-max-width);
                        width: 25%;
                        img {
                            width: 100%;
                            opacity: .6;
                            border-radius : 0.44444rem;
                            isolation: isolate;
                        }
                    }


                    @media screen and (min-width: $content-box-max-width) {
                        margin: -$gap;
                        .__box-item {
                            padding: $gap;
                        }
                    }
                }
            }

            &.__m {
                .__boxes-inner {
                    margin: __to_vw(-5px, $breakpoint-mobile);
                    display: flex;
                    flex-wrap: wrap;

                    .__box-item {
                        box-sizing: border-box;
                        padding: __to_vw(5px, $breakpoint-mobile);
                        width: 50%;
                        img {
                            width: 100%;
                            opacity: .6;
                            border-radius : 0.44444rem;
                        }
                    }
                }
            }
        }

        .__title-area {
            $font-size-default: 100px;
            @include position_xy;
            text-transform: uppercase;
            width: 100vw;

            .__slogan {

                text-align: center;
                padding-bottom: __to_em(32px, 22px);
                color: #fff;
                opacity: 0;
                p {
                    span {
                        letter-spacing: .1em;
                    }
                    @media screen and (max-width: $breakpoint-mobile) {
                        font-size: __to_vw(14px, $content-box-mobile-width);
                        span {
                            display: block;
                        }
                    }
                }

                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
            }
            .__title {
                font-size: __to_vw($font-size-default, $content-box-max-width);
                color: #fff;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px #fff;
                font-weight: 700;
                line-height: __to_vw($font-size-default * 1.2, $content-box-max-width);

                strong {
                    display: block;
                    text-align: center;
                    margin: __to_em( ($box-height + $gap * 2 + $font-size-default * 1.2) * .5 , $font-size-default) 0;
                    letter-spacing: 0em;
                    @media screen and (min-width: $content-box-max-width) {
                        margin: ($box-height + $gap * 2 + $font-size-default * 1.2) * .5 0;

                    }
                }

                .__and {
                    opacity: 0;
                    margin-left: -1em;
                }
                .__and-m {
                    display: none;
                    margin: 0 !important;
                    -webkit-text-fill-color: #fff;
                    -webkit-text-stroke: 0;
                }

                @media screen and (max-width: $breakpoint-mobile) {
                    -webkit-text-stroke-width: 1px;
                    font-size: __to_vw(32px, $content-box-mobile-width);
                    line-height: __to_em(40px, 32px);
                    .__and {
                        display: none !important;
                    }

                    .__and-m {
                        display: block;
                    }

                }

                @media screen and (min-width: $content-box-max-width) {
                    font-size: $font-size-default;
                    line-height: $font-size-default * 1.2;

                }

            }
        }
    }

    .__motion.__box-in {
        height: 150vh;
        margin-top: -100vh;
        margin-bottom: 20vh;
    }

    .__motion.__box-out {
        height: 150vh;
        margin-bottom: 30vh;
    }
    .__motion.__gallery {
        height: 200vh;
    }
}

//다국어 스타일 적용
body.__loaded.en{
    #aboutMotion{
        .section-inner{
            .__motion-area{
                .__motion-area-inner{
                    .__title-area{
                        .__slogan{
                            p.trn{
                                @media screen and (max-width:$breakpoint-tablet) {
                                    padding:0 3.90625vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}