@import "../var";

a,
button {
    font-family: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.__cta {
    display: flex;
}



.__video-controls {
    .__play {
        @include __wh_to_rem(56px, 56px, $font-size-base);
        border-radius: 50%;
        text-indent: -999em;
        overflow: hidden;
        display: flex;
        background: rgba(255,255,255,.35) url(../../img/icon/pause.svg) 50% 50% no-repeat;
        background-size: 100% 100%;
        &.__paused {
            background-image: url(../../img/icon/play.svg);
        }

        transition: background-color 300ms;
        will-change: background-color;

        @media (hover: hover), (-ms-high-contrast:none) {
            &:hover {
                background-color: rgba(255,255,255,.45);
            }
        }
        @media screen and (max-width: $breakpoint-tablet) {
            @include __wh_to_rem(40px, 40px, $font-size-min);

        }
    }
}

.__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: __to_rem(15px, $font-size-base);
    height: __to_em(56px, 15px);
    padding: 0 __to_em(50px, 18px);
    box-sizing: border-box;

    border: 1px solid rgba(255,255,255,.8);
    border-radius: __to_em(8px, 15px);
    isolation: isolate;
    color: #fff;
    transition: background-color 400ms ease, color 400ms ease, border-color 400ms ease;
    will-change: background-color, color, border-color;

    @media screen and (max-width: $breakpoint-tablet) {
        font-size: $font-size-min;
        height: __to_em(48px, $font-size-min);
        padding: 0 __to_em(40px, $font-size-min);
    }
    .__label {
        font-weight: 700;
        line-height: 2;
        display: flex;
        align-items: center;
        font-size: inherit;
        .__i {
            margin-left: __to_em(4px, 15px);
            transition: transform 400ms ease;
            will-change: transform;
            svg {
                display: block;
            }
            path {
                fill: #fff;
            }
            &.__arrow {
                svg {
                    @include __wh_to_em(14px, 14px, 15px);
                }
            }


        }
    }

    &.__filled {
        background: #fff;
        color: #333;
        border-color: #fff;
        .__label {
            .__i {
                path {
                    fill: #333;
                }
            }
        }
    }

    &.__dark {
        border-color: #E5E5E5;
        color: #222;
        .__label {
            .__i {
                path {
                    fill: #222;
                }
            }
        }
    }

    &.__accent {
        border-color: $color-primary;
        color: $color-primary;

    }

    &.__pill {
        font-size: __to_rem(15px, $font-size-base);
        height: __to_em(56px, 15px);
        padding: 0 __to_em(50px, 18px);

        border-radius: 3em;

        @media screen and (max-width: $breakpoint-tablet) {
            font-size: $font-size-min;
            height: __to_em(42px, $font-size-min);
            padding: 0 __to_em(26px, $font-size-min);

        }
        .__label {
            .__i {
                margin-left: __to_em(4px, 15px);
                &.__arrow {
                    svg {
                        @include __wh_to_em(14px, 14px, 15px);
                    }
                }
            }
        }
    }



    &:active {
        background: $color-primary !important;
        border-color: $color-primary !important;
        color: #fff !important;
        .__label {
            .__i {
                &.__arrow {
                    transform: translateX(__to_em(4px, 18px));
                }
                path {
                    fill: #fff !important;
                }
            }
        }
    }
    @media (hover: hover), (-ms-high-contrast:none) {
        &:hover {
            background: $color-primary !important;
            border-color: $color-primary !important;
            color: #fff !important;
            .__label {
                .__i {
                    &.__arrow {
                        transform: translateX(__to_em(4px, 18px));
                    }
                    path {
                        fill: #fff !important;
                    }
                }
            }
        }
    }

    &.__white {
        &:active {
            color: $color-primary !important;
            background: #fff !important;
            border-color: #fff !important;
            .__label {
                .__i {
                    path {
                        fill: $color-primary !important;
                    }
                }
            }
        }
        @media (hover: hover), (-ms-high-contrast: none) {
            &:hover {
                color: $color-primary !important;
                background: #fff !important;
                border-color: #fff !important;
                .__label {
                    .__i {
                        path {
                            fill: $color-primary !important;
                        }
                    }
                }
            }
        }

    }


}

.__btn-invisible {
    display: block;
    @include fullsize;
    top: 0;
    left: 0;
    text-indent: -9999em;
    overflow: hidden;
}