@import "../var";
.__swiper-nav-controls {
    a {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: __to_rem(8px, $font-size-base);

        @include __wh_to_rem(64px, 64px, $font-size-base);
        background: #fff;
        transition: background-color 300ms ease;
        will-change: background-color, color;

        svg {
            display: block;
            width: __to_rem(30px, $font-size-base);
            height: __to_rem(30px, $font-size-base);
            path {
                fill: #1428a0;
                transition: fill 300ms ease;
                will-change: fill;

            }
        }
        background: rgba(255,255,255,.3);
        svg {
            path {
                fill: #fff;
            }
        }
        &:hover {
            background: #fff;
            svg {
                path {
                    fill: #1428a0;
                }
            }
        }
    }
}