@import "../var";
.__key-info-opened {
    #header {
        .__header-top {
            .__box {
                padding: 0;
                &:before {
                    width: 101vw;
                    border-radius: 0;
                }
            }
        }
    }
}
#header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header-z-index;
    transition: transform 600ms $easeOutQuart;
    will-change: transform;
    background: #fff;
    .__header-inner {
        position: relative;
        z-index: 2;
    }
    .__header-top {
        overflow: hidden;
        background: #fff;
        width: 100%;
        //&:hover {
        //    .__box {
        //        padding: 0;
        //        &:before {
        //            width: 101vw;
        //            border-radius: 0;
        //        }
        //    }
        //}


        .__box {

            display: flex;
            align-items: center;
            padding: 0 __to_em(40px, 13px);
            height: $header-top-bar-height;
            font-size: 13px;
            position: relative;
            transition: padding 300ms $easeOutQuart;
            will-change: padding;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                @include position_x;
                background: $color-primary;
                border-radius: 0 0 __to_em(8px, $font-size-base) __to_em(8px, $font-size-base);
                transition: width 300ms $easeOutQuart, border-radius 300ms $easeOutQuart;
                will-change: width, border-radius;
            }


            > * {
                position: relative;
            }
            ul {
                color: #fff;
                display: flex;
                li+li {
                    margin-left: __to_em(24px, 13px);

                }
                a {
                    opacity: .8;
                    transition: opacity 300ms;
                    &:hover {
                        opacity: 1;
                    }
                }

            }

            .__btn-toggle--key-info {
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                padding: 0 __to_em(14px, 13px);
                height: __to_em(24px, 13px);
                background: #fff;
                border-radius: 2em;
                color: $color-primary;
                font-weight: 700;

                &:after {
                    background: url(../../img/icon/plus.svg) 50% 50% no-repeat;
                    background-size: contain;
                    @include __wh_to_em(16px, 16px, 13px);
                    display: block;
                    content: '';
                    margin-left: __to_em(3px, 13px);
                }

            }
        }
    }

    .__header-main {
        height: $header-main-height;
        font-size: 18px;
        transition: height 300ms $easeOutQuart;
        position: relative;
    }

    .__brand {
        @include position_y;
        left: 0;
        img {
            display: block;
            height: 36px;
            width: auto;
        }
    }

    .__header-main-inner {
        display: flex;
        align-items: center;
        width: 100%;
        height: $header-main-height;
        transition: height 300ms $easeOutQuart;
        will-change: height;
        position: relative;
        //&:before {
        //    @include position_x;
        //    background: #fff;
        //    width: 101vw;
        //    top: 0;
        //    bottom: 0;
        //    content: '';
        //}


    }
    
    &.__hide {
        transform: translateY(-100%);

    }
    &.__shrink {
        border-bottom: 1px solid $border-color;
        .__header-top {
            .__box {
                padding: 0;
                &:before {
                    width: 101vw;
                    border-radius: 0;
                }
            }
        }
        .__header-main {
            height: $header-main-height-shrink;
            .__header-main-inner {
                height: $header-main-height-shrink;
            }
        }
    }

}

@media screen and (max-width: $breakpoint-tablet) {
    #header {

        .__header-top {
            .__box {
                padding: 0;
                height: $header-top-bar-height-m;

                &:before {
                    width: 110vw;
                    border-radius: 0;
                    transition: none;
                }
                ul {
                    display: none;
                }
            }
        }

        .__brand {
            img {
                height: 24px;
            }
        }
        .__header-main {
            height: $header-main-height-m !important;
            .__header-main-inner {
                height: $header-main-height-m !important;
            }
        }
    }

}