@import "../var";

.__key-info-opened {
    @media screen and (max-width: $breakpoint-mobile) {
        overflow: hidden;
    }
}

.__key-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &.__active {
        opacity: 1;
        visibility: visible;
        z-index: $header-z-index + 1;
    }


    .__box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(92, 105, 183, 1);
        color: #fff;

    }

    .__key-info-header {

        .__key-info-header-inner {
            height: $header-top-bar-height;
            display: flex;
            align-items: center;
            @media screen and (max-width: $breakpoint-tablet) {
                height: $header-top-bar-height-m;
            }

            .__btn-close {
                margin-left: auto;
                background-color: #3B499D;
                font-size: 13px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2em;
                padding: 0 __to_em(14px, 13px);
                height: 24px;
                font-weight: 700;
                &:after {
                    background: url(../../img/icon/x.svg) 50% 50% no-repeat;
                    background-size: contain;
                    @include __wh_to_em(16px, 16px, 13px);
                    content: '';
                    display: block;
                    margin-left: .5em;
                }
            }
        }

    }

    .__key-info-body-inner {
        display: flex;
        flex-direction: column;
        padding-bottom:  __to_rem(72px, $font-size-base);
    }

    .swiper {
        max-width: 100%;
        overflow: visible;
        display: flex;
        margin: __to_rem(32px, $font-size-base) auto 0;
        .swiper-slide {
            width: auto !important;
        }
    }

    .__widgets {
        width: 100%;
        max-width: $content-box-max-width;
        margin-left: auto;
        margin-right: auto;
        .__row {
            display: flex;
            margin: __to_rem(-24px, $font-size-base);
            .__col {
                flex: 1 1 auto;
                padding: __to_rem(24px, $font-size-base);
                box-sizing: border-box;
                .__widget {
                    height: 100%;
                }
            }

            .__col:first-child {
                flex: initial;
                width:__to_rem(508px + 48px, $font-size-base);
            }
        }
    }

    .__widget {
        display: flex;
        flex-direction: column;
        .__widget-header {
            .__widget-title {
                font-size: __to_rem(20px, $font-size-base);
                font-weight: 700;
                padding-bottom: __to_rem(16px, $font-size-base);
                border-bottom: 2px solid #fff;
                height: __to_rem(20px, $font-size-base);
                a {
                    display: flex;
                    align-items: center;
                    line-height: 1.15;
                    &:after {
                        display: block;
                        background: url(../../img/icon/arrow-right-md.svg) 50% 50% no-repeat;
                        background-size: contain;
                        @include __wh_to_em(14px, 14px, 20px);
                        content: '';
                        margin-left: __to_em(4px, 20px);
                        transition: transform 300ms ease-out;
                        will-change: transform;
                    }

                    &:hover {
                        &:after {
                            transform: translateX(__to_em(4px, 20px));
                        }
                    }
                }


            }
        }

        .__widget-body {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            &.widget_iframe {
                min-width: 432px;
                height: 311px;
                width:  __to_rem(511.503px, $font-size-base);
                margin-top: 18px;

                iframe {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        .__widget {
            overflow-x: hidden;

            .__widget-body {
                &.widget_iframe {
                    max-width: 320px;
                    min-width: 100%;
                    //height: 332px;
                    //padding-right: 60px;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    iframe {
                        width: __to_rem(511.503px, $font-size-base) !important;
                        //margin-right: 40px;
                    }
                }
            }
        }
    }


    .__business-category {
        padding-top: __to_rem(24px, $font-size-base);
        align-self: flex-end;
        flex: 1;

        .__cats {
            display: flex;
            margin: 0 __to_rem(-4.5px, $font-size-base);
            height: 100%;
            .__cat {
                flex: 1 1 auto;
                padding: 0 __to_rem(4.5px, $font-size-base);
                box-sizing: border-box;
            }
        }
        a {
            display: block;
            position: relative;
            height: 100%;
            border-radius:  __to_rem(4px, $font-size-base);
            border-radius: 8px !important;
            overflow: hidden;

            &::after {
                content: '';
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .3;
                z-index: 1;
            }

            .__label {
                display: block;
                @include position_x;
                bottom: __to_rem(16px, $font-size-base);
                font-size: __to_rem(18px, $font-size-base);
                font-weight: 700;
                display: flex;
                align-items: center;
                white-space: nowrap;
                z-index: 3;

                &:after {
                    display: block;
                    background: url(../../img/icon/arrow-right-md.svg) 50% 50% no-repeat;
                    background-size: contain;
                    @include __wh_to_em(14px, 14px, $font-size-base);

                    content: '';
                    margin-left: __to_em(4px, $font-size-base);
                    transition: transform 300ms ease-out;
                    will-change: transform;
                }
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
                .__label {
                    &:after {
                        transform: translateX(__to_em(4px, $font-size-base));
                    }
                }
            }
            img {
                display: block;
                width: __to_rem(120px, $font-size-base);
                height: 100%;
                overflow: hidden;
                object-fit: cover;
                transition: transform 350ms ease;
                will-change: transform;
            }
        }
    }

    .__stock-graph {
        padding-top:  __to_rem(24px, $font-size-base);
        margin-bottom:  __to_rem(30px, $font-size-base);
        img {
            display: block;
            width:  __to_rem(511.503px, $font-size-base);
            height: auto;
        }
    }

    .__stock-summary {
        margin-top: auto;
        .__stock-summary-header {
            display: flex;
            align-items: center;
            margin-bottom:__to_rem(16px, $font-size-base);
            .__price {
                display: flex;
                align-items: center;
                strong {
                    font-weight: 700;
                    font-size: __to_rem(27px, $font-size-base);
                    display: block;
                }

                small {
                    font-size: __to_rem(13px, $font-size-base);
                    opacity: .65;
                    display: block;
                    margin-left: 1rem;
                }
            }
            .__status {
                margin-left: auto;
                color: #FFFF00;
                font-size: __to_rem(13px, $font-size-base);
                display: flex;
                span {
                    margin-left: .6em;
                }
            }
        }

        .__stock-summary-body {
            display: flex;
            padding: __to_rem(20px, $font-size-base) __to_rem(24px, $font-size-base);
            background: rgba(240, 240, 240, 0.1);
            border-radius: __to_rem(4px, $font-size-base);
            justify-content: space-between;
            dl {
                &+dl {
                    border-left: rgba(255,255,255,.1) 1px solid;
                    padding-left: __to_rem(16px, $font-size-base);
                }
                dt {
                    font-size: __to_rem(13px, $font-size-base);
                    margin-bottom: __to_rem(11px, $font-size-base);
                }

                dd {
                    font-size: __to_rem(14px, $font-size-base);
                    em {
                        color: #65FFB2;
                    }
                }
            }
        }
    }

    .__downloads {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: __to_rem(290px, $font-size-base);
        li {
            flex: 1;
            align-items: center;
            display: flex;
            border-bottom: 1px solid rgba(204, 204, 204, 0.15);

            a {
                flex: 1;
                align-items: center;
                display: flex;
                font-size: __to_rem(15px, $font-size-base);
                span {
                    display: block;
                }
            }


            svg {
                display: block;
                background-size: contain;
                margin-left: auto;
                display: block;
                @include __wh_to_em(28px, 28px, 15px);
                .__b,
                .__i {
                    transition: fill 300ms;
                }
                .__b {
                    fill: #fff;
                }

                .__i {
                    // fill: $color-primary;
                    stroke: $color-primary;
                }
            }

            @media (hover: hover), (-ms-high-contrast: none) {
                &:hover {
                    svg {
                        .__b {
                            fill: $color-primary;
                        }

                        .__i {
                            // fill: #fff;
                            stroke:#fff;
                        }
                    }
                }
            }

        }
    }

    .__links {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: __to_rem(290px, $font-size-base);
        justify-content: space-between;
        a {
            & + a {
                margin-top: __to_rem(14px, $font-size-base);;
            }

            display: flex;
            align-items: center;
            background: rgba(240, 240, 240, 0.1);
            border-radius: __to_rem(4px, $font-size-base);
            border-radius: 8px !important;
            font-size: __to_rem(15px, $font-size-base);
            height: __to_em(62px, 15px);
            box-sizing: border-box;
            padding-left: __to_em(30px, 15px);
            padding-right: __to_em(20px, 15px);
            font-weight: 700;
            transition: background-color 400ms;
            will-change: background-color;

            @media (hover: hover), (-ms-high-contrast: none) {
                &:hover {
                    background: rgba(240, 240, 240, .2);
                }
            }

            span {
                display: flex;
                align-items: center;
                line-height: 1.5;
                &:after {
                    display: block;
                    background: url(../../img/icon/arrow-right-md.svg) 50% 50% no-repeat;
                    background-size: contain;
                    content: '';

                    @include __wh_to_em(14px, 14px, 15px);
                    margin-left: __to_em(4px, 15px);
                    transition: transform 300ms ease-out;
                    will-change: transform;
                }
            }

            img {
                display: block;
                margin-left: auto;
                width: __to_em(34px, 15px);
                height: auto;
            }

            &:hover {
                span {
                    &:after {
                        transform: translateX(__to_em(4px, 15px));
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-min - 1px) {
    .__key-info {

        .__box {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background: transparent;
            .__key-info-header {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(92, 105, 183, 1);
                z-index: 2;
            }
            .__key-info-body {
                height: 100%;
                box-sizing: border-box;
                padding-top: $header-top-bar-height-m;
                background: rgba(92, 105, 183, 1);
                overflow: auto;
                z-index: 1;
            }
        }

        .swiper {
            width: 100%;
            display: block;
            .swiper-wrapper {
                width: 100%;
            }
            .swiper-slide {
                width: 100% !important;
            }
        }


        .__widgets {
            width: 100%;
            .__row {
                flex-wrap: wrap;
                justify-content: center;
                .__col {
                    width: 100%;
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
            .__widget {
                .__widget-header {
                    .__widget-title {
                        font-size: 20px;
                        height: auto;
                    }
                }
                &+.__widget {
                    margin-top: 40px;
                }
            }
        }


        .__business-category {
            width: 100%;
            a {
                flex: 1;
                img {
                    width: 100%;
                    @media screen and (max-width: 640px) {
                        height: 120px;
                    }
                }
                .__label {
                    justify-content: center;
                    //right: 0;
                    //left: 0;
                    //&:after {
                    //    display: none;
                    //}
                }
            }
        }


        .__stock-graph {
            width: 100%;
            img {
                width: 100%;

            }
        }
        .__links,
        .__downloads {
            width: 100%;
        }
        .__downloads {
            li {
                padding: 12.5px 0;
                font-size: 15px;
            }
        }

        .__links {
            a {
                font-size: 15px;
            }
        }
    }
}


.ie {
    .__key-info {
        transition: none !important;
        .__widget {
            transition: none !important;
        }
    }

}