@import "../var";

html.ie,
html.ie body {
    min-width: 1240px !important;
}
html {
}


body {
    opacity: 0;
    visibility: hidden;
    &.__loaded {
        opacity: 1;
        visibility: visible;
    }
}

.wrapper {
    overflow: hidden;
}

#wrapper {
    overflow: hidden;
}

.container {
    padding: 0 __to_vw($gutter, $content-box-max-width);
    //padding: 0 math.div($gutter, $content-box-max-width) * 100vw;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @media screen and (min-width: $content-box-max-width) {
        padding-left: $gutter;
        padding-right: $gutter;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        padding: 0 __to_vw($gutter-tablet, $breakpoint-tablet);

    }

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 0 $gutter-mobile;

    }

    &.container-boxed {
        max-width: $content-box-max-width;
    }
}

#main {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: $header-top-bar-height + $header-main-height;
    @media screen and (max-width: $breakpoint-tablet) {
        padding-top: $header-top-bar-height-m + $header-main-height-m;
    }
}


.__grid__ {
    display: flex;
    margin: __to_rem(-8px, $font-size-base);
    gap: 0 !important;

    .__col__ {
        padding: __to_rem(8px, $font-size-base);
        box-sizing: border-box;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        margin: __to_rem(-5px, $font-size-min);
        .__col__ {
            padding: __to_rem(5px, $font-size-min);
        }
    }
}

.section {
    margin-bottom:  __to_rem(80px, $font-size-base);

    @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom:  __to_rem(48px, $font-size-min);
    }


    &:last-child {
        @media screen and (max-width: $breakpoint-tablet) {
            margin-bottom:  __to_rem(40px, $font-size-min);
        }

    }

    &.section-overflow-hidden {
        .section-body {
            overflow: hidden;
        }
    }
    .section-inner {
        position: relative;
    }

    .section-header {
        margin-bottom:  __to_rem(24px, $font-size-base);
        @media screen and (max-width: $breakpoint-tablet) {
            margin-bottom: __to_rem(20px, $font-size-min);
        }
        display: flex;
        align-items: center;


        .__utils {
            margin-left: auto;
           .__btn {
               white-space: nowrap;
               //padding: 0 1.65em;
               margin: -.6em 0;
           }
        }
    }

    &.section--sub {
        margin-bottom: __to_rem(160px, $font-size-base);
        .section-header {
            text-align: center;
            justify-content: center;
            margin-bottom:  __to_rem(48px, $font-size-base);
        }
        @media screen and (max-width: $breakpoint-tablet) {
            margin-bottom:  __to_rem(80px, $font-size-min);
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .__hide--m {
        display: none !important;
    }
}


.__opacity20 {
    opacity: 20% !important;
}


.__dim__ {
    @include fullsize;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);

}

