@import "../var";


.__btn-nav-toggle {
    display: none;
    margin-left: auto;
    width: 22px;
    height: 22px;
    position: relative;
    span,
    span:before,
    span:after {
        transition: all 200ms ease;
    }


    span {
        background: #222;
        height: 2px;
        display: block;
        @include position_xy;
        width: 22px;

        &:before,
        &:after {
            background: #222;
            height: 2px;
            display: block;
            @include position_xy;
            width: 22px;
            content: '';
        }
        &:before {
            transform: translate(-50%, -7px);
        }

        &:after {
            transform: translate(-50%, 5px);
        }
    }

    &.__active {
        span {
            width: 0%;
            &:before {
                margin-top: 0;
                transform: translate(-50%,-50%) rotate(45deg);
            }
            &:after {
                margin-top: 0;
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        }

    }
}


#nav {
    height: 100%;
    width: 100%;

    flex: 1;
    .__nav-inner,
    .__scrollarea {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .__lang-m {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 2;
        padding: 0 20px;
        box-sizing: border-box;
        ul {
            height: $header-main-height-m;
            display: flex;
            align-items: center;
            color: #888888;
            font-size: 13px;
            .__current {
                color: $color-primary;
            }
            li+li {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid $border-color;
            }
        }
    }

    .__search-m {
        display: none;
        margin-bottom: 20px;
        form {
            position: relative;
        }
        input {
            font-size: 15px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            background: #fff;
            height: __to_em(40px, 15px);
            padding: .5em 3em .5em 1em;
            border-radius: 2em;
            font-weight: 400;
            outline: none;
            border: 1px solid $border-color;
            box-sizing: border-box;
            letter-spacing: -0.035em;

            &::-ms-input-placeholder,
            &::-webkit-input-placeholder {
                color: #888888;
            }
            &:focus {
                border-color: $color-primary;
            }
        }

        button {
            background: url(../../img/icon/search-sm.svg) 50% 50% no-repeat;
            background-size: contain;
            text-indent: -999em;
            overflow: hidden;
            @include position_y;
            right: __to_em(12px, 15px);
            @include __wh_to_em(20px, 20px, 15px);
            display: block;
            margin: 0;
            padding: 0;
            font-size: inherit; 

        }
    }

    .__gnb {
        height: 100%;
        .__menu {
            margin: auto;
            display: flex;
            align-items: center;
            $font-size: 15px;
            font-size: $font-size;
            height: 100%;
            box-sizing: border-box;
            > li {
                height: 100%;
                > a {
                    position: relative;
                    line-height: 1;
                    font-weight: 700;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 10px __to_vw(32px, $content-box-max-width);
                    @media screen and (min-width: $content-box-max-width) {
                        padding: 10px 32px;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .__carat {
                        display: none;
                    }

                    > span {
                        display: block;
                        line-height: 26px;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            background: $color-primary;
                            top: 100%;
                            left: 0;
                            width: 0;
                            transition: width 300ms $easeInOutQuint;
                            will-change: width;
                        }
                    }

                }

                &:hover {
                    > a {
                        color: $color-primary;
                        > span {
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                    @media screen and (min-width: $breakpoint-tablet + 1px) {   
                        .__depth2 {
                            visibility: visible;
                            z-index: 2;
                            opacity: 1;
                            height: 100%;

                            > ul {
                                visibility: visible;
                                opacity: 1;
                                height: auto;
                                min-height: 240px;
                                height: 100%;
                            }

                            .__dim__ {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                &.__active {
                    > a {
                        color: $color-primary;
                        > {
                            span {
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .__depth2 {

                position: absolute;
                top: 100%;
                @include position_x;
                width: 100vw;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                height: 100%;
                .__dim__ {
                    display: block;
                    background: rgba(0,0,0,.7);
                    height: 100vh;
                    width: 100vw;
                    @include position_x;
                    top: 0;
                    content: '';
                    pointer-events: none;
                    opacity: 0;
                    visibility: hidden;

                }



                > ul {
                    border-top: 1px solid $border-color;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    background: #fff;
                    z-index: 2;
                    visibility: hidden;
                    overflow: hidden;
                    min-height: 0px;
                    height: 0;
                    a {

                        > span {
                            display: inline-block;
                            position: relative;
                            transition: color 300ms;
                            line-height: 20px;
                            //margin-bottom: 3px;
                            &:after {
                                content: '';
                                position: absolute;
                                height: 1px;
                                background: $color-primary;
                                top: 100%;
                                left: 0;
                                width: 0;
                                transition: width 300ms $easeInOutQuint;
                                will-change: width;
                            }
                        }
                        @media (hover: hover), (-ms-high-contrast:none) {
                            &:hover {
                                color: #1428A0 !important;
                                > span {
                                    &:after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    > li {
                        padding: __to_em(28px, $font-size) __to_vw(10px, $content-box-max-width);
                        height: 100%;
                        box-sizing: border-box;
                        @media screen and (min-width: $content-box-max-width) {
                            padding: 28px 10px;
                        }

                        width: __to_em(128px, $font-size);
                        box-sizing: border-box;
                        transition: background-color 300ms;

                        &:hover {
                            background: #F2F5FF;
                        }

                    }
                }

                .__depth3 {
                    font-size: 13px;
                    margin-top: __to_em(13px, 13px);
                    > ul {
                        > li {
                            &+li {
                                margin-top: __to_em(10px, 13px);
                            }
                            a {
                                color: #666666;
                                span {
                                    line-height: 17px;
                                }
                            }
                            &.__active {
                                a {
                                    color: #1428A0 !important;
                                    > span {
                                        &:after {
                                            width: 100%;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

            }
        }
    }

    .__utils {
        @include position_y;
        right: 0;
        $font-size: 13px;
        margin-left: auto;
        font-size: __to_em(13px, $font-size-base);
        display: flex;
        align-items: center;
        > li {
            margin-left: __to_vw(32px, $content-box-max-width);
            @media screen and (min-width: $content-box-max-width) {
                margin-left: 32px;
            }
        }
        .__lang {

            position: relative;

            .__toggle {
                display: flex;
                align-items: center;
                &:after {
                    background: url(../../img/icon/lang-down.svg) 50% 50% no-repeat;
                    background-size: contain;
                    @include __wh_to_em(12px, 8px, $font-size);
                    content: '';
                    display: block;
                    margin-left: __to_em(8px, $font-size);
                }
            }


            .__toggle.__active {
                &:after {
                    transform: rotate(-180deg);
                }
                &+ul {
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                    transform: translate(-50%,0);
                }
            }
            ul {
                @include position_x;
                top: 100%;
                white-space: nowrap;
                border-radius: __to_em(8px, $font-size);
                background: #fff;
                display: block;
                padding: __to_em(12px, $font-size) 0;
                box-shadow:  0 0 __to_em(10px, $font-size) rgba(0,0,0,.1);
                text-align: center;
                margin-top: __to_em(16px, $font-size);
                transform: translate(-50%, 10px);
                transition: all 300ms ease;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                li {
                    margin: 0;
                    color: #888;

                    &.__current {
                        a {
                            background: #F5F5F5;
                            color: $color-primary;
                        }
                    }

                    a {
                        display: block;
                        padding: __to_em(10px, $font-size) __to_em(20px, $font-size);
                        transition: background-color 300ms;
                        &:hover {
                            background: #F5F5F5;
                        }
                    }



                }

            }
        }
        .__search {
            a {
                display: block;
                @include __wh_to_em(42px, 42px, $font-size);
                text-indent: -999em;
                overflow: hidden;
                box-sizing: border-box;
                border-radius: 50%;
                border: 1px solid $border-color;
                background: #fff;
                position: relative;
                transition: background 300ms ease, border-color 300ms ease;

                svg {
                    @include position_xy;
                    display: block;
                    @include __wh_to_em(18px, 18px, $font-size);
                    rect,
                    path {
                        transition: fill 300ms ease;
                    }
                }

                &:hover {
                    background: $color-primary;
                    border-color: $color-primary;
                    svg {
                        rect,
                        path {
                            fill: #fff;
                        }
                    }
                }

                display: none;
                &.__active {
                    display: block;
                }
            }

            .__btn-hide {
                svg {
                    @include __wh_to_em(18px, 18px, $font-size);
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {

    .__nav-opened {
        overflow: hidden;
    }
    .__btn-nav-toggle {
        display: block;
        z-index: $header-z-index + 2;
    }

    #nav {
        .__hide-when-mobile {
            display: none;
        }

        position: fixed;
        top: $header-top-bar-height-m;
        width: auto;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc( 100vh - #{$header-top-bar-height-m});
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        overflow: hidden;

        .__nav-inner {
            background: #fff;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            box-sizing: border-box;
            width: 270px;
            display: flex;
            flex-direction: column;
            .__scrollarea {
                display: block;
                flex: 1;
                overflow: auto;
                padding: 73px 20px;
                box-sizing: border-box;
            }
        }
        .__lang-m,
        .__search-m {
            display: block;
        }



        .__gnb {
            margin: 0 -20px;
            height: auto;
            .__menu {
                display: block;
                > li {
                    height: auto;
                    > a {
                        padding: 0 20px;
                        text-align: left;
                        height: 48px;
                        justify-content: space-between;
                        font-size: 18px;
                        .__carat {
                            display: block;
                        }
                        span {
                            color: #222222;
                            &:after {
                                display: none !important;
                            }
                        }

                    }

                    &.__open {
                        > a {
                            span {
                                color: $color-primary;
                            }
                            .__carat {
                                transform: rotate(180deg);
                                polygon {
                                    fill: $color-primary;
                                }
                            }
                        }
                        .__depth2 {
                            height: auto;
                        }
                    }

                    .__depth2 {
                        position: static;
                        background: #F2F5FF;
                        opacity: 1;
                        visibility: visible;
                        transform: none;
                        left: 0;
                        width: auto;
                        text-align: left;
                        overflow: hidden;
                        height: 0;
                        .__dim__ {
                            display: none;
                        }
                        > ul {
                            display: block;
                            background: transparent;
                            border: 0;
                            padding: 24px 40px;
                            height: auto;
                            box-sizing: border-box;
                            visibility: visible;
                            opacity: 1;
                            position: static;
                            min-height: initial !important;

                            > li {
                                padding: 0;
                                width: auto;
                                &+li {
                                    margin-top: 24px;
                                }
                                > a {
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 700;
                                    &:after {
                                        display: none !important;
                                    }
                                }
                                .__depth3 {
                                    > ul {
                                        > li {
                                            &+li {
                                                margin-top: 12px;
                                            }
                                            > a {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .__utils {
            transform: none;
            position: static;
            margin-top: 16px;
            li {
                margin: 0;
                font-size: 13px;
            }
        }
    }

    .__btn-nav-toggle.__active+#nav {
        opacity: 1;
        visibility: visible;
        z-index: $header-z-index + 1;
    }
}


// en common style
body.en {
    #nav {
        .__gnb {
            .__menu {
                > li{
                    &:hover {
                        @media screen and (min-width: $breakpoint-tablet + 1px) {
                            .__depth2 {
                                > ul {
                                    min-height: 251px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
