@import "../var";

.__search-box {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &.__active {
        opacity: 1;
        visibility: visible;
        z-index: 1;

    }

    .__box {
        background: #fff;
        position: relative;
        border-top: 1px solid $border-color;

    }
    .container {
        //padding-top: $header-top-bar-height + $header-main-height;
        //@media screen and (max-width: $breakpoint-tablet) {
        //    padding-top: $header-top-bar-height-m + $header-main-height-m;
        //}
        .__box-inner {
        }
    }

    form {
        padding: 80px 0;
        max-width: 720px;
        width: 100%;
        margin: 0 auto;

        $font-size: 20px;
        .__input-box {
            position: relative;
            margin-bottom: __to_em(45px, $font-size);
            font-size: $font-size;

            input {
                display: block;
                width: 100%;
                box-sizing: border-box;
                background: #fff;
                height: __to_em(64px, $font-size);
                padding: 1em 3em 1em 1.5em;
                border-radius: 2em;
                font-weight: 400;
                font-size: inherit;
                outline: none;
                border: 1px solid $border-color;
                box-sizing: border-box;
                letter-spacing: -0.035em;

                &::-ms-input-placeholder,
                &::-webkit-input-placeholder {
                    color: #888888;
                }
                &:focus {
                    border-color: $color-primary;
                }
            }
            button {
                background: url(../../img/icon/search-md.svg) 50% 50% no-repeat;
                background-size: contain;
                text-indent: -999em;
                overflow: hidden;
                @include position_y;
                right: __to_em(24px, $font-size);
                @include __wh_to_em(28px, 28px, $font-size);
                display: block;
                margin: 0;
                padding: 0;
                font-size: inherit;

            }
        }

        .__reference {
            $font-size: 15px;
            font-size: $font-size;
            p {
                color: #888;
                margin-bottom: 1em;
            }

            .__keywords {
                display: flex;
                flex-wrap: wrap;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: __to_em(8px, $font-size);
                    margin-right: __to_em(8px, $font-size);
                    margin-bottom: __to_em(8px, $font-size);
                    border: 1px solid $border-color;
                    box-sizing: border-box;
                    height: __to_em(48px, $font-size);
                    padding: 0 __to_em(24px, $font-size);
                    transition: color 300ms, border-color 300ms;
                    &:hover {
                        border-color: $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        display: none;
    }
}

