@import "../var";

#footer {
    background: #121212;
    padding: 64px 0;
    color: #fff;
    position: relative;
    font-size: 13px;
    &:after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -1px;
        height: 5px;
        background-color: #121212;
    }
    .__footer-main {
        display: flex;
        align-items: flex-end;

        .__left {
            margin-right: __to_em(20px, 13px);
        }
        .__right {
            margin-left: auto;
        }
    }

    .__footer-menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        white-space: nowrap;
        > li {
            margin-bottom:  __to_em(18px, 13px);
            margin-right: __to_em(24px, 13px);
            
            >a{
                >span[data-trn-key="footer-03"]{
                    color : #299BE5;
                }
            }
            &:last-child {
                margin-right: 0;
            }

            &.__has-sub {
                position: relative;
                > a {
                    display: flex;
                    align-items: center;
                    &:after {
                        content: '';
                        margin-left: __to_em(6px, 13px);
                        background: url(../../img/icon/arrow-up-sm.svg) 50% 50% no-repeat;
                        background-size: contain;
                        @include __wh_to_em(12px, 12px, 13px);
                        transform: rotate(-180deg);
                    }
                    &.__active {
                        &:after {
                            transform: rotate(0deg);
                        }
                        
                    }
                }

                > a.__active+.__submenu {
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                    transform: translate(-50%, 0%);

                    &.pop{
                        transform: translate(-55%, 0px);
                        @media screen and (max-width: $breakpoint-mobile) {
                            transform: translate(-20%, 0px) !important;
                        }

                        @media screen and (max-width: $breakpoint-footer) {
                            transform: translate(7%, 0px) !important;
                        }
                    }
                }

                .__submenu {
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    @include position_x;
                    transform: translate(-50%, -20px);

                    &.pop{
                        transform: translate(-55%, 10px);
                        transition: all 300ms ease;
                        @media screen and (max-width: $breakpoint-mobile) {
                            transform: translate(-20%, 10px) !important;
                        }

                        @media screen and (max-width: $breakpoint-footer) {
                            transform: translate(7%, 10px) !important;
                        }
                    }

                    white-space: nowrap;
                    bottom: 100%;
                    text-align: center;
                    background: #121212;
                    border: 1px solid #333333;
                    border-radius: __to_em(8px, 13px);
                    margin-bottom: __to_em(16px, 13px);
                    padding: __to_em(14px, 13px) 0;
                    transition: all 400ms ease;

                    li+li {
                        padding: 0;
                    }
                    
                    a {
                        padding: __to_em(10px, 13px) __to_em(20px, 13px);
                        display: block;
                        transition: background-color 400ms ease;
                        &:hover {
                            background: rgba(255,255,255,.12);
                        }
                    }
                }
            }
        }
    }
    
    .__copy {
        color: #888;
        margin-top: __to_em(5px, 13px);
        opacity: .6;
    }

    .__related-site {
        white-space: nowrap;
        position: relative;
        .__btn-toggle {
            display: flex;
            align-items: center;
            border: #333 1px solid;
            border-radius: __to_em(8px, 13px);
            padding: 0 __to_em(24px, 13px);
            height: __to_em(42px, 13px);
            box-sizing: border-box;
            &:after {
                background: url(../../img/icon/triangle-down.svg) 50% 50% no-repeat;
                display: block;
                @include __wh_to_em(9px, 6px, 13px);
                background-size: contain;
                content: '';
                margin-left: __to_em(70px, 13px);
            }
        }


        .__btn-toggle.__active {
            border-radius: 0 0 __to_em(8px, 13px) __to_em(8px, 13px);
            &:after {
                transform: rotate(-180deg);
            }
            &+.__sites {
                opacity: 1;
                visibility: visible;
                z-index: 10;
                .__scrollbar {
                    height: 45vh;
                    max-height: 550px;
                }
            }
        }
        .__sites {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: all 300ms ease;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            padding: __to_em(6px, 13px);
            border-radius: __to_em(8px, 13px) __to_em(8px, 13px) 0 0;
            background: #121212;
            border: #333 1px solid;
            margin-bottom: -1px;


           .__scrollbar {

               height: 0vh;
               max-height: 0px;
               transition: height 300ms ease;

               .swiper {
                   position: absolute;
                   top: 0;
                   bottom: 0;
                   left: 0;
                   right: 0;
                   .swiper-slide {
                       height: auto !important;
                   }
               }

               .swiper-scrollbar {
                   right: 6px;
                   top: 6px;
                   bottom: 6px;
                   height: auto;
                   width: 4px;
                   border-radius: 10px;

                   .swiper-scrollbar-drag {
                       background: #fff;
                       border-radius: 10px;
                   }
               }

           }

            .__list {
                padding: __to_em(24px, 13px) 0;
            }
            h5 {
                font-size: __to_em(12px, 13px);
                margin-bottom:  __to_em(6px, 13px);
                padding: 0 __to_em(24px, 13px);
                color: #888;
            }

            ul {
                &+h5 {
                    margin-top:  __to_em(30px, 13px);
                }
                li {
                    a {
                        display: block;
                        padding: __to_em(11px, 13px) __to_em(24px, 13px);
                        transition: background-color 400ms;
                        span {
                            font-size: __to_em(15px, 13px);
                            small {
                                font-size: __to_em(13px, 15px);
                            }
                        }



                        &:hover {
                            background: rgba(255,255,255,.13);
                        }

                    }

                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    #footer {
        font-size: 11px;
        padding: 40px 0;
        .__footer-main {
            flex-direction: column;
            align-items: flex-start;
            .__left {
                margin-bottom: 2rem;
                margin-right: 0;
            }
            .__right {
                margin-left: 0;
            }
            .__footer-menu {

                >li.__has-sub {
                    .__submenu {
                        transform: none;
                        left: __to_em(-10px, 13px);
                    }
                }

            }

            .__copy {
                margin-top: __to_em(4px, 11px);
            }
        }

        .__related-site {
            .__btn-toggle {
                height: __to_em(32px, 11px);
            }
        }
    }
}